<div class="" style=" z-index: 1020;">

  <!-- navs -->
  <div class="row g-0 mt-4 justify-content-center">

    <div class="col-auto  mt-5">
      <%= image_pack_tag 'media/images/party/navigator/title.png', class: "", style: ""%>
    </div>

    <div class="col-auto mt-4">
      <%= link_to( parties_navigator_xcl_pilot_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/party/navigator/xcl-nav.jpg', class: "", style: ""%>
      <% end %>
    </div>

    <div class="col-auto">
      <%= link_to( parties_navigator_nnl_lead_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/party/navigator/nnl-nav.jpg', class: "", style: ""%>
      <% end %>
    </div>

    <!-- two video navs -->
    <div class="row g-0 justify-content-center  mt-4">
      <div class="col-auto mx-2">
        <%= link_to( parties_video_path, html_options = {}) do %>
          <%= image_pack_tag 'media/images/party/navigator/xcl-video-nav.png', class: "", style: ""%>
        <% end %>
      </div>
      <div class="col-auto mx-2">
        <%= link_to( parties_video_path, html_options = {}) do %>
          <%= image_pack_tag 'media/images/party/navigator/nnl-video-nav.png', class: "", style: ""%>
        <% end %>
      </div>
    </div>


  </div>

</div>
