<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/second-bg.png'%>) "  >

  <%= render 'party_head' %>

  <!-- swiper position container -->
  <div class="float-swiper-container position-absolute w-100 h-100 video-bg-dark" style="top:0; left:0; z-index:1066; opacity: 0;">
    <div class="position-relative">

      <!-- Slider main container -->
      <div class="swiper-container parties-brand-swiper position-relative" style="width: 1200px; height: 800px; margin-top: 200px;">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide bg-info">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>

        </div>



        <!-- If we need pagination -->
        <div class="swiper-pagination business-swiper-pagination">
          <div class="my-swiper-pagination-bullet">
          </div>
        </div>
      </div>

      <div class="my-swiper-navigation-container" style="top:100px; ">
        <div class="my-swiper-button-prev"></div>
        <div class="my-swiper-button-next"></div>
      </div>

    </div>
  </div>

  <div class="row g-0">
    <!-- render left navs -->
    <div class="col-auto" style="width:30%;">
      <%= render 'left_navs' %>
    </div>

    <!-- right content -->
    <div class="col" style="" >

      <div class="row mx-auto" style="width:90%; margin-top: 200px;">
        <!-- left content -->
        <div class="col-5 "  >
          <%= image_pack_tag 'media/images/party/brand/left-text.png', class: "w-100" %>
        </div>

        <!-- right content -->
        <div class="col-7 " style="">
          <%= link_to(parties_brand_detail_path,  html_options = { class: "parties_brand_detail" }) do %>
            <%= image_pack_tag 'media/images/party/brand/icons.png', class: "w-100" %>
          <% end %>
        </div>

      </div>

    </div>

  </div>






  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
