<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/second-bg.png'%>) "  >

  <%= render 'party_head' %>


  <div class="row g-0">
    <!-- render left navs -->
    <%= render 'left_navs', return_path: parties_path %>

    <!-- right content -->
    <div class="col" style="" >

      <div class="row mx-auto" style="width:95%; margin-top: 200px;">
        <!-- main content -->
        <div class="col-12 text-center" style="width: 1820px; height: 950px; overflow-y:scroll;" >
          <!-- first page -->
          <%= image_pack_tag 'media/images/party/honor/page1-title.png', class: "" %>
          <%= image_pack_tag 'media/images/party/honor/page1-img.png', class: "my-5" %>

          <!-- second page -->
          <%= image_pack_tag 'media/images/party/honor/page2-title.png', class: "mt-5" %>
          <%= image_pack_tag 'media/images/party/honor/page2-img.png', class: "mt-5" %>

        </div>


      </div>

    </div>

  </div>






  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
