<div class="main position-relative">
  <div class="row g-0 position-relative">

    <!-- left -->
    <div class="position-absolute text-center" style="width: 32%; top: 190px; left:80px;  z-index:2;">

      <div class="row g-0">
        <div class="col-6">
          <%= link_to( '#', html_options = {}) do %>
            <%= image_pack_tag 'media/images/party/index-gt.png', class: "", style: ""%>
          <% end %>
        </div>

        <div class="col-6">
          <%= image_pack_tag 'media/images/party/nav-top.png' %>
        </div>
        <div class="w-100 mt-5"></div>
        <div class="col-6">
          <%= link_to( '#', html_options = {}) do %>
            <%= image_pack_tag 'media/images/party/index-xcl.png', class: "", style: ""%>
          <% end %>
        </div>

        <div class="col-6">
          <%= link_to( parties_profile_path, html_options = {}) do %>
            <%= image_pack_tag 'media/images/party/index-brand.png', class: "", style: ""%>
          <% end %>
        </div>

      </div>

    </div>

    <!-- Slider main container -->
    <div class="swiper-container partyIndexSwiper window-holder">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- swiper-slide1 -->
        <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/party/swiper1.png'%>)" >

        </div>

        <!-- swiper-slide2 -->
        <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/party/swiper2.png'%>)" >

        </div>

        <!-- swiper-slide3 -->
        <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/party/swiper3.png'%>)">

        </div>

        <!-- swiper-slide4 -->
        <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/party/swiper4.png'%>)">

        </div>

      </div>


    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination" style="z-index: 1060; bottom: 200px;"></div>
  </div>


</div>
