<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >

  <div class="w-100" style="height:217px;"></div>
  <div class="row g-0" style="width: 90%; margin-left: 8%; ">

    <div class="col-12">
      <%= image_pack_tag 'media/images/party/xcl/alliance/title.png', class: "" %>

    </div>

    <div class="col-12 mt-5">
      <%= image_pack_tag 'media/images/party/xcl/alliance/text.jpg', class: "" %>
    </div>

    <div class="row g-0 " style="margin-top: 60px;">
      <div class="col">
        <%= image_pack_tag 'media/images/party/xcl/alliance/1.png', class: "" %>
      </div>

      <div class="col " style="">
        <%= image_pack_tag 'media/images/party/xcl/alliance/2.png', class: "" %>
      </div>

      <div class="col " style="">
        <%= image_pack_tag 'media/images/party/xcl/alliance/3.png', class: "" %>
      </div>

      <div class="col " style="">
        <%= image_pack_tag 'media/images/party/xcl/alliance/4.png', class: "" %>
      </div>

      <div class="col " style="">
        <%= image_pack_tag 'media/images/party/xcl/alliance/5.png', class: "" %>
      </div>
    </div>

  </div>





</main>
