<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>) "  >

  <div class="w-100" style="height:217px;"></div>
  <div class="row g-0" style="width: 90%; margin-left: 8%; ">

    <div class="col-12">
      <%= image_pack_tag 'media/images/party/xcl/excellence/title.png', class: "" %>

    </div>

    <div class="col-12 mt-3">
      <%= image_pack_tag 'media/images/party/xcl/excellence/text.png', class: "" %>

    </div>

    <div class="row g-0 mt-5 ">
      <div class="col-auto">
        <%=  link_to(parties_navigator_xcl_excellence_talents_path, html_options = {}) do %>
          <%= image_pack_tag 'media/images/party/xcl/excellence/1-nav.png', class: "" %>
        <% end %>
      </div>

      <div class="col-auto " style="margin-left: 50px;">
        <%=  link_to(parties_navigator_xcl_excellence_honors_path, html_options = {}) do %>
          <%= image_pack_tag 'media/images/party/xcl/excellence/2-nav.png', class: "" %>
        <% end %>
      </div>

      <div class="col-auto " style="margin-left: 50px;">
        <%=  link_to(parties_navigator_xcl_excellence_videos_path, html_options = {}) do %>
          <%= image_pack_tag 'media/images/party/xcl/excellence/3-nav.png', class: "" %>
        <% end %>
      </div>
    </div>

  </div>





</main>
