<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>) "  >

  <div class="w-100" style="height:290px;"></div>
  <div class="row g-0" style="width: 90%; margin-left: 8%; ">

    <div class="col-12">
      <%= image_pack_tag 'media/images/party/xcl/pilot/title.png', class: "" %>

    </div>

    <div class="col-12 mt-4">
      <%= image_pack_tag 'media/images/party/xcl/pilot/text.png', class: "" %>

    </div>

    <div class="row g-0 mt-5 ">
      <div class="col-auto">
        <%= image_pack_tag 'media/images/party/xcl/pilot/img1.png', class: "" %>
      </div>

      <div class="col-auto " style="margin-left: 80px;">
        <%= image_pack_tag 'media/images/party/xcl/pilot/img2.png', class: "" %>
      </div>
    </div>

  </div>





</main>
