<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >

  <%= render 'party_header' %>

  <div class="w-100" style="height: 150px;"></div>

  <div class="row g-0" >
    <!-- render left navs -->
    <div class="col-auto" style="width:35%;">
      <%= render 'navigator_left_navs' %>
    </div>


    <!-- right content -->
    <div class="col" style="width:65%;" >

      <!-- Slider main container -->
      <div class="swiper-container parties-navigator-swiper">
        <div class="w-100" style="height: 160px;"></div>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides 1 -->
          <div class="swiper-slide position-relative">
            <%= image_pack_tag 'media/images/party/navigator/group.png', class: 'ms-4', style: ""%>

          </div>

          <!-- Slides 2 -->
          <div class="swiper-slide">
            <div class="" style="width: 1162px; height:589px; background: right no-repeat url(<%= asset_pack_path 'media/images/party/navigator/local/map-bg.png'%>)">
              <% points = [
                { img_name: "nanning", path: corp_infos_industry_nanning_path,
                  container_style: "top: 461px; left: 510px; z-index:1;",
                  arrow_container_style: "top: -60px; left: 268px;",
                  detail_img_container_style: "top: 322px; left: 22px; z-index:0;",
                  detail_img_link_style: "bottom: 15px; left: 15px; width: 442px; height: 240px;"
                },
                { img_name: "laibin", path: corp_infos_industry_laibin_path,
                  container_style: "top: 393px; left: 847px; z-index:1;",
                  arrow_container_style: "top: -67px; left: 0px;",
                  detail_img_container_style: " top: 315px; left: 21px; z-index:0;",
                  detail_img_link_style: "bottom: 15px; left: 15px; width: 442px; height: 240px;"
                },
                { img_name: "liuzhou", path: corp_infos_industry_liuzhou_path,
                  container_style: "top: 7px; left: 945px; z-index:1;",
                  arrow_container_style: "top: 217px; left: -75px;",
                  detail_img_container_style: " top: 292px; left: 36px; z-index:0;",
                  detail_img_link_style: "bottom: 15px; left: 15px; width: 442px; height: 240px;"
                },
                { img_name: "hezhou", path: corp_infos_industry_hezhou_path,
                  container_style: "top: 315px; left: 1132px; z-index:1;",
                  arrow_container_style: "top: -60px; left: -75px;",
                  detail_img_container_style: " top: 322px; left: 45px; z-index:0;",
                  detail_img_link_style: "bottom: 15px; left: 15px; width: 442px; height: 240px;"
                },
                { img_name: "xinjiang", path: corp_infos_industry_xinjiang_path,
                  container_style: "top: 135px; left: 232px; z-index:1;",
                  arrow_container_style: "top: -75px; left: 0px;",
                  detail_img_container_style: "top: 142px; left: 30px; z-index:0; ",
                  detail_img_link_style: "bottom: 15px; left: 15px; width: 442px; height: 240px;"
                },
              ] %>

              <% points.each_with_index do |point, i| %>
                <% humanId = i += 1 %>
                <div class="industry-point-container position-absolute" data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                  <div class="position-relative">
                    <div class="point-container position-absolute" style='<%= point[:arrow_container_style] %>' data-id=<%= humanId %> >
                      <%= image_pack_tag "media/images/party/navigator/local/points/#{point[:img_name]}.png", class: 'point-img'%>
                      <%= image_pack_tag "media/images/party/navigator/local/points/#{point[:img_name]}-active.png", class: 'point-img-active'%>
                    </div>

                  </div>
                </div>


                <div class="industry-detail-img-container position-absolute" data-id=<%= humanId %> style='<%= point[:detail_img_container_style] %>' >
                  <%= image_pack_tag "media/images/party/navigator/local/detail_windows/#{point[:img_name]}-bg.png", class: "" %>
                  <%= tag.div class: "position-absolute detail-tag", style: point[:detail_img_link_style], data: {id: humanId} %>
                </div>

              <% end %>


            </div>

            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="local-detail-container position-absolute w-100 h-100"  data-id=<%= humanId %> style="z-index: 9; top:0px; left:0;" >
                <%= image_pack_tag "media/images/party/navigator/local/detail_contents/#{point[:img_name]}.png", class: "" %>
              </div>
            <% end %>

          </div>
        </div>

        <!-- position absolute, bottom center, a little bit right. -->
        <div class="title-pagination position-absolute" style="z-index: 1020; left: 50px; top: 60px;">
          <!-- title 0, data-id="0", on click main swiper move to data-id -->
          <!-- title 1 -->
          <div class="row g-0">
            <div class="col swiper-tag position-relative" data-id="1" >
              <%= image_pack_tag 'media/images/party/navigator/group-party.png' %>
              <%= image_pack_tag 'media/images/party/navigator/group-party-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
            </div>
            <div class="col swiper-tag ms-5 position-relative" data-id="2" >
              <%= image_pack_tag 'media/images/party/navigator/corp-party.png' %>
              <%= image_pack_tag 'media/images/party/navigator/corp-party-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>






  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
