<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>) "  >

  <div class="d-flex">
    <!-- left content -->
    <div class=""  style="width:40%;">
      <div class="row">
        <div class="col-12">
          <%= image_pack_tag 'media/images/party/nnl/lead/title-1.png', class: "" %>
        </div>
        <div class="col-12">
          <%= image_pack_tag 'media/images/party/nnl/lead/title-1.png', class: "" %>
        </div>
        <div class="col-12">
          <%= image_pack_tag 'media/images/party/nnl/lead/title-2.png', class: "" %>
        </div>
      </div>
    </div>

    <!-- right content -->
    <div class="" style="width:60%;" >

      <div class="row g-0 mx-auto" style="width:100%; margin-top: 200px;">
        <!-- main content -->
        <div class="col-12 text-center position-relative" style=" " >

          <%= image_pack_tag 'media/images/party/nnl/lead/1-detail.png', class: "" %>
          <%= image_pack_tag 'media/images/party/nnl/lead/2-detail.png', class: "my-5" %>

        </div>

      </div>

    </div>

  </div>






  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
