<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >

  <% videos = [ {name: 'ql', video_path: "/videos/parties/talents/ql.mp4" },
                {name: 'branch', video_path: "/videos/parties/xcl/fortress/7branch.mp4"},
                {name: 'zx', video_path: "/videos/parties/talents/zx.mp4"} ] %>

  <div class="absolute-video-container position-absolute w-100 h-100 video-bg-dark" style="top:0; left:0; z-index:10;">
    <% videos.each_with_index do |video, i| %>
      <div class="video-content-container h-100  position-relative" data-name=<%= video[:name] %> >
        <div class="w-100" style="height: 195px;"></div>
        <div class="row g-0">
          <div class="col-4 d-flex align-items-center justify-content-center" style="">
            <%= image_pack_tag "media/images/party/nnl/brand/video-title#{i + 1}.png", class: "" %>
          </div>
          <div class=" col-8 position-relative " style="margin-top: 0px; " >
            <!-- <i class="bi bi-x-lg position-absolute close-video" style="font-size: 2rem; color: white; bottom: 0; left: -2em;"></i> -->
            <!-- data-setup='{"controls": true}'> -->
            <video
                id=<%= "party-#{video[:name]}-video" %>
                class="video-js my-vjs-skin "
                width="1162"
                enableTouchActivity
                data-setup=''>
              <source src='<%= video[:video_path] %>' type="video/mp4"></source>
            </video>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="w-100" style="height: 217px;"></div>

  <div class="row g-0">
    <!-- left content -->
    <div class="col-auto" style="width:40%;">

      <div class="row " style="width:675px; margin-top: 0px; margin-left: 45px;">
        <div class="col-12 " style="">
          <div class="row g-0">
            <% (1..4).each do |i| %>
              <div class="col-3 text-center">
                <%= image_pack_tag "media/images/party/nnl/brand/btns/#{i}.png", class: "swiper-tag", data: {id: i} %>
              </div>
            <% end %>
          </div>

        </div>

        <div class="col-12 text-center" style="">
          <%= image_pack_tag 'media/images/party/nnl/brand/btns/center-btn.png', class: "swiper-tag", data: {id: 0} %>
        </div>

        <div class="col-12 " style="">
          <div class="row g-0">
            <% (5..8).each do |i| %>
              <div class="col-3 text-center">
                <%= image_pack_tag "media/images/party/nnl/brand/btns/#{i}.png", class: "swiper-tag", data: {id: i} %>
              </div>
            <% end %>
          </div>

        </div>

      </div>

    </div>

    <!-- right content -->
    <div class="col" style="width: 60%; " >
      <!-- Slider main container -->
      <div class="swiper-container navigator-nnl-brand-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide ps-5" style=" ">
            <%= image_pack_tag "media/images/party/nnl/brand/title.png", class: "" %>
            <%= image_pack_tag "media/images/party/nnl/brand/text.png", class: "mt-4" %>

            <div class="row g-0" style="width: 92%;margin-top: 60px;">
              <div class="col">
                <%= image_pack_tag "media/images/party/nnl/brand/nav-1.png", class: "video-tag", data: {name: videos[0][:name]} %>
              </div>
              <div class="col">
                <%= image_pack_tag "media/images/party/nnl/brand/nav-2.png", class: "video-tag", data: {name: videos[1][:name]} %>
              </div>
              <div class="col">
                <%= image_pack_tag "media/images/party/nnl/brand/nav-3.png", class: "video-tag", data: {name: videos[2][:name]} %>
              </div>
            </div>

          </div>

          <% (1..2).each do |i| %>
            <div class="swiper-slide">
              <%= image_pack_tag "media/images/party/nnl/brand/#{i}.png", class: "" %>
            </div>
          <% end %>
          <!-- slide 3 -->
          <div class="swiper-slide ">
            <div class="" style="width: 1119px; height: 662px;background: center no-repeat url(<%= asset_pack_path 'media/images/party/nnl/brand/3/bg.png'%>) "">
              <div class="w-100" style="height: 280px"></div>
              <div class="row g-0 " style="margin-left: 9%;">
                <div class="col">
                  <%= image_pack_tag "media/images/party/nnl/brand/3/img.jpg", class: "" %>
                </div>

                <div class="col">
                  <%= image_pack_tag "media/images/party/nnl/brand/3/cover.png", class: "video-tag", data: {name: videos[2][:name]} %>
                </div>
              </div>
            </div>

          </div>

          <% (4..5).each do |i| %>
            <div class="swiper-slide">
              <%= image_pack_tag "media/images/party/nnl/brand/#{i}.png", class: "" %>
            </div>
          <% end %>
          <!-- slide 6 -->
          <div class="swiper-slide">
            <div class="" style="width: 1119px; height: 662px;background: center no-repeat url(<%= asset_pack_path 'media/images/party/nnl/brand/6/bg.png'%>) "">
              <div class="w-100" style="height: 250px"></div>
              <div class="row g-0 " style="margin-left: 9%;">
                <div class="col">
                  <%= image_pack_tag "media/images/party/nnl/brand/6/img.png", class: "" %>
                </div>

                <div class="col">
                  <%= image_pack_tag "media/images/party/nnl/brand/6/cover.png", class: "video-tag", data: {name: videos[0][:name]} %>
                </div>
              </div>
            </div>

          </div>
          <!-- slide 7 -->
          <div class="swiper-slide">
            <div class="" style="width: 1119px; height: 662px;background: center no-repeat url(<%= asset_pack_path 'media/images/party/nnl/brand/7/bg.png'%>) "">
              <div class="w-100" style="height: 250px"></div>
              <div class="row g-0 " style="margin-left: 9%;">
                <div class="col">
                  <%= image_pack_tag "media/images/party/nnl/brand/7/img.png", class: "" %>
                </div>

                <div class="col">
                  <%= image_pack_tag "media/images/party/nnl/brand/7/cover.png", class: "video-tag", data: {name: videos[1][:name]} %>
                </div>
              </div>
            </div>

          </div>

          <div class="swiper-slide">
            <%= image_pack_tag "media/images/party/nnl/brand/8.png", class: "" %>
          </div>


        </div>
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

      </div>

    </div>

  </div>




</main>
