<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>) "  >

  <%= render 'party_header' %>

  <div class="w-100" style="height: 220px;"></div>

  <div class="row g-0" >
    <!-- render left navs -->
    <div class="col-auto" style="width:40%;">
      <%= render 'new_left_navs' %>
    </div>


    <!-- right content -->
    <div class="col" style="width:60%;" >

      <!-- Slider main container -->
      <div class="swiper-container parties-navigator-swiper">
        <div class="w-100" style="height: 180px;"></div>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides 1 -->
          <div class="swiper-slide">
            <%= image_pack_tag 'media/images/party/navigator/local.png', class: '', style: ""%>

          </div>

          <!-- Slides 2 -->
          <div class="swiper-slide">
            <%= image_pack_tag 'media/images/party/navigator/local.png', class: '', style: ""%>


          </div>
        </div>

        <!-- position absolute, bottom center, a little bit right. -->
        <div class="title-pagination position-absolute" style="z-index: 1020; left: 50px; top: 70px;">
          <!-- title 0, data-id="0", on click main swiper move to data-id -->
          <!-- title 1 -->
          <div class="row g-0">
            <div class="col swiper-tag position-relative" data-id="1" >
              <%= image_pack_tag 'media/images/party/navigator/group-party.png' %>
              <%= image_pack_tag 'media/images/party/navigator/group-party-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
            </div>
            <div class="col swiper-tag ms-5 position-relative" data-id="2" >
              <%= image_pack_tag 'media/images/party/navigator/corp-party.png' %>
              <%= image_pack_tag 'media/images/party/navigator/corp-party-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>






  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
