<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >

  <div class="w-100" style="height:217px;"></div>
  <div class="row g-0" style="width: 90%; margin-left: 8%; ">

    <div class="col-12">
      <%= image_pack_tag 'media/images/party/xcl/pioneer/title.png', class: "" %>

    </div>

    <div class="col-12 mt-3">
      <%= image_pack_tag 'media/images/party/xcl/pioneer/text.png', class: "" %>

    </div>

    <div class="row g-0 mt-5 ">
      <div class="col-auto">
        <%= image_pack_tag 'media/images/party/xcl/pioneer/img1.png', class: "" %>
      </div>

      <div class="col-auto " style="margin-left: 50px;">
        <%= image_pack_tag 'media/images/party/xcl/pioneer/img2.png', class: "" %>
      </div>
    </div>

  </div>





</main>
