<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/second-bg.png'%>) "  >

  <%= render 'party_head' %>


  <div class="row g-0">
    <!-- render left navs -->
    <div class="col-auto" style="width:30%;">
      <%= render 'left_navs' %>
    </div>


    <!-- right content -->
    <div class="col" style="" >

      <div class="row mx-auto" style="width:95%; margin-top: 200px;">
        <!-- left content -->
        <div class="col-auto mx-5" style="width: 740px; height: 975px; background: top center no-repeat url(<%= asset_pack_path 'media/images/party/profile/xcl-bg.png'%>) " >
          <div class="text-white text-center col-auto fw-bold" style="font-size: 3.8rem; margin-top: 500px;">
            广投新材料集团党委简介
          </div>
          <div class="col m-3 p-3 bg-white text-indent-4rem" style="height: 230px; font-size: 1.5rem; overflow:scroll;" >
            <p style="">
              广投新材料集团党委成立于2021年2月4日，下辖四地八家企业，包含南南铝加工、柳州银海铝、桂东电子、正润新材料、来宾新材等企业党组织22个，党员455人。广投新材料集团创建了“新铝排头兵”党建品牌，将党建创新活动和铝产业二次创业结合起来，扎实开展“薪火领航、新铝堡垒、新铝先锋、新铝创优，新铝联盟”五项行动，推动党建工作与生产经营深度融合，助力将公司打造成为“广西产业振兴、工业崛起”的标杆企业。
            </p>
          </div>


        </div>

        <!-- right content -->
        <div class="col-auto mx-5" style="width: 740px; height: 975px; background: top center no-repeat url(<%= asset_pack_path 'media/images/party/profile/nnl-bg.png'%>) ">
          <div class="text-white text-center col-auto fw-bold" style="font-size: 3.8rem; margin-top: 500px;">
            南南铝加工党委简介
          </div>
          <div class="col m-3 p-3 bg-white text-indent-4rem" style="height: 230px; font-size: 1.5rem; overflow:scroll;" >
            <p style="">
              广西南南铝加工有限公司成立于2010年，是一家集研发、生产和经营为一体的航空航天交通铝新材料先进制造商。产品广泛应用于航空航天、轨道交通、汽车、船舶、3C及泛半导体等领域。南南铝加工党委成立于2018年4月15日，2019年4月1日公司党组织关系从南宁产业投资集团党委整建制纳入广西投资集团系统，隶属广投新材料集团党委管理。南南铝加工党委共8个党支部，党员人数268人，其中，博士党员9人，硕士党员50人，本科党员148人。
            </p>
            <p style="">
              南南铝加工坚持以习近平新时代中国特色社会主义思想为指导，深入贯彻落实国有企业“三个排头兵”的重要指示精神，按照自治区“强龙头、补链条、聚集群”的产业发展思路，践行“新模式、新业态、新技术、新产品”制造业“四新”发展理念，围绕实现“上规增效，打造广西产业振兴、工业崛起的标杆企业”的目标要求，以高质量党建，引领企业高质量发展。
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>






  <%# render 'profile_bottom', return_path: corp_all_path %>

</main>
