<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >

  <% videos = [ {name: 'xcl', video_path: "/videos/parties/videos/xcl.mp4" },
                {name: 'nnl', video_path: "/videos/parties/videos/nnl.mp4"} ] %>

  <div class="w-100" style="height: 217px;"></div>

  <div class="row g-0 mx-auto" style="width:90%;">
    <div class="col-auto text-end" style="width:30%; padding-right: 80px;">
      <%= image_pack_tag 'media/images/party/video/xcl.png', class: "video-tag", data: {name: videos[0][:name] } %>
      <%= image_pack_tag 'media/images/party/video/nnl.png', class: "video-tag mt-5", data: {name: videos[1][:name] } %>

    </div>
    <div class="col-auto" style="width:70%;">


      <% videos.each_with_index do |video, i| %>
        <div class="video-content-container h-100 position-relative" data-name=<%= video[:name] %> >
          <video
              id=<%= "party-#{video[:name]}-video" %>
              class="video-js my-vjs-skin "
              width="1140"
              enableTouchActivity
              data-setup=''>
            <source src='<%= video[:video_path] %>' type="video/mp4"></source>
          </video>
        </div>
      <% end %>

    </div>
  </div>


</main>
