<div class=" position-relative window-holder" style="" >
  <div class="business-detail-bg-img w-100 h-100 position-absolute">
    <%= image_pack_tag 'media/images/businesses/car/main-bg-family.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/car/main-bg-oil-truck.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/car/main-bg-bus.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/car/main-bg-truck.png', class: '', style: '' %>
  </div>

  <div class=" row g-0 position-relative">

    <!-- Slider main container -->
    <div class="swiper-container businesses-main-swiper position-relative" style=" background-color: rgba(0,0,0,0.6); ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides family car slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 225px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:300px; right: 60px;">
            <%= image_pack_tag 'media/images/businesses/car/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1505px; height: 482px; margin-left: 22px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/car/family.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:67px; left:375px;", arrow_container_style: "top: 127px; left: 202px;" },
              { container_style: "top:-7px; left:562px;", arrow_container_style: "top: 165px; left: 142px;" },
              { container_style: "top:-22px; left:825px;", arrow_container_style: "top: 90px; left: 45px;" },
              { container_style: "top:0px; left:1140px; ", arrow_container_style: "top: 165px; left: 37px;" },
              { container_style: "top:247px; left:375px; ", arrow_container_style: "top: -30px; left: 150px;" },
              # 6
              { container_style: "top:405px; left:630px; z-index:2; ", arrow_container_style: "top: -7px; left: -37px;" },
              { container_style: "top:255px; left:1117px; z-index:2;", arrow_container_style: "top: 60px; left: -22px;" },
              { container_style: "top:255px; left:937px; z-index:1; ", arrow_container_style: "top: -30px; left: -22px;" },
              { container_style: "top:277px; left:847px; ", arrow_container_style: "top: -22px; left: -15px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='family' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/car/family/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/car/family/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_car_details_path}?slide=0&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>
        <!-- slide 2 oil-truck-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 225px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:300px; right: 60px;">
            <%= image_pack_tag 'media/images/businesses/car/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1484px; height: 475px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/car/oil_truck/oil-truck.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:15px; left:360px;", arrow_container_style: "top: 247px; left: 202px;" },
              { container_style: "top:22px; left:585px;", arrow_container_style: "top: 247px; left: 82px;" },
              { container_style: "top:277px; left:825px;", arrow_container_style: "top: -37px; left: 52px;" },
              { container_style: "top:15px; left:1140px;", arrow_container_style: "top: 187px; left: 60px;" },
              { container_style: "top:300px; left:1147px;", arrow_container_style: "top: -37px; left: 60px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='oil-truck' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/car/oil_truck/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/car/oil_truck/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_car_details_path}?slide=1&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>

        <!-- slide 3 bus-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 225px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:300px; right: 60px;">
            <%= image_pack_tag 'media/images/businesses/car/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1403px; height: 449px; margin-left: 160px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/car/bus/bus.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:7px; left:292px;", arrow_container_style: "top: 240px; left: 262px;" },
              { container_style: "top:-67px; left:555px;", arrow_container_style: "top: 97px; left: 142px;" },
              { container_style: "top:-22px; left:840px;", arrow_container_style: "top: 217px; left: 0px;" },
              { container_style: "top:330px; left:862px;", arrow_container_style: "top: -37px; left: 15px;" },
              { container_style: "top:307px; left:960px;", arrow_container_style: "top: -22px; left: -37px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='bus' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/car/bus/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/car/bus/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_car_details_path}?slide=2&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>

        <!-- slide 4 truck-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 225px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:300px; right: 60px;">
            <%= image_pack_tag 'media/images/businesses/car/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1447px; height: 464px; margin-left: 80px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/car/truck/truck.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:7px; left:337px;", arrow_container_style: "top: 315px; left: 71px;" },
              { container_style: "top:-52px; left:645px;", arrow_container_style: "top: 75px; left: 150px;" },
              { container_style: "top:-30px; left:885px;", arrow_container_style: "top: 180px; left: 7px;" },
              { container_style: "top:330px; left:877px;", arrow_container_style: "top: -37px; left: -37px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='truck' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/car/truck/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/car/truck/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_car_details_path}?slide=3&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>


      </div>

      <div class="my-swiper-navigation-container">
        <div class="my-swiper-button-prev"></div>
        <div class="my-swiper-button-next"></div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination business-swiper-pagination">
        <div class="my-swiper-pagination-bullet">
        </div>
      </div>
      <!-- position absolute, bottom center, a little bit right. -->
      <div class="title-pagination position-absolute" style="z-index: 1020; left: 937px; bottom: 52px;">
        <!-- title 0, data-id="0", on click main swiper move to data-id -->
        <!-- title 1 -->
        <div class="row g-0">
          <div class="col business-swiper-tag position-relative" data-id="1" >
            <%= image_pack_tag 'media/images/businesses/car/1-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/car/1-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
          <div class="col business-swiper-tag ms-5 position-relative" data-id="2" >
            <%= image_pack_tag 'media/images/businesses/car/2-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/car/2-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>

        <div class="row g-0 mt-5">
          <div class="col business-swiper-tag position-relative" data-id="3" >
            <%= image_pack_tag 'media/images/businesses/car/3-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/car/3-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
          <div class="col business-swiper-tag ms-5 position-relative" data-id="4" >
            <%= image_pack_tag 'media/images/businesses/car/4-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/car/4-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>
      </div>

    </div>

    <div class="position-relative"  style="width:47%;">
      <%# render 'navs', return_path: parties_path %>

    </div>

  </div>






</div>




<!-- <div class="pt1">
  <div class="product_con">
    <div class="pic">

    </div>
    <div class="boll">
        <ul>
            <li class="b1" style="left: 62.5%; top: 36%;" data-id="8931">
                <i class="list_boll"></i>

                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身蒙皮</h3>
                    </div>
            </li>
            <li class="b1" style="left: 58.5%; top: 33%;" data-id="8932">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身加强框</h3>
                    </div>
            </li>

            <li class="b1" style="left: 56.5%; top: 36%;" data-id="8933">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空座椅</h3>
                    </div>
            </li>

            <li class="b1" style="left: 47.5%; top: 29%;" data-id="8934">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空集装箱</h3>
                    </div>
            </li>

            <li class="b1" style="left: 66.5%; top: 43%;" data-id="8926">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机翼壁板</h3>
                    </div>
            </li>
        </ul>
    </div>

  </div>

</div> -->
