<div class=" position-relative window-holder" style="" >
  <div class="business-detail-bg-img w-100 h-100 position-absolute">
    <%= image_pack_tag 'media/images/businesses/car/main-bg-family.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/car/main-bg-oil-truck.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/car/main-bg-bus.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/car/main-bg-truck.png', class: '', style: '' %>
  </div>

  <div class=" row g-0 position-relative">

    <!-- Slider main container -->
    <div class="swiper-container businesses-main-swiper position-relative" style=" background-color: rgba(0,0,0,0.6); ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides family car slide -->
        <div class="swiper-slide ">
          <div class="w-100" style="height: 300px;"></div>
          <!-- text intro -->
          <div class="">

          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 2006px; height: 643px; margin-left: 30px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/car/family.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:90px; left:500px;", arrow_container_style: "top: 170px; left: 270px;" },
              { container_style: "top:-10px; left:750px;", arrow_container_style: "top: 220px; left: 190px;" },
              { container_style: "top:-30px; left:1100px;", arrow_container_style: "top: 120px; left: 60px;" },
              { container_style: "top:0px; left:1520px; ", arrow_container_style: "top: 220px; left: 50px;" },
              { container_style: "top:330px; left:500px; ", arrow_container_style: "top: -40px; left: 200px;" },
              # 6
              { container_style: "top:540px; left:840px; ", arrow_container_style: "top: -10px; left: -50px;" },
              { container_style: "top:340px; left:1490px; z-index:2;", arrow_container_style: "top: 80px; left: -30px;" },
              { container_style: "top:340px; left:1250px; z-index:1; ", arrow_container_style: "top: -40px; left: -30px;" },
              { container_style: "top:370px; left:1130px; ", arrow_container_style: "top: -30px; left: -20px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='family' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/car/family/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/car/family/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_car_details_path}?slide=0&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>
        <!-- slide 2 aerospace-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 300px;"></div>
          <!-- text intro -->
          <div class="">

          </div>

          <!-- product container -->
          <div class=" mx-auto position-relative"  style="width: 959px; height: 846px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/aerospace/aerospace-rotated.png'%>) " >
            <!-- point 1 -->
            <% points = [
            { container_style: "top:200px; left:-240px; z-index: 1;", arrow_container_style: "top: -50px; left: 250px;" },
            { container_style: "top:200px; left:-100px;", arrow_container_style: "top: -55px; left: 250px;" },
            { container_style: "top:580px; left:230px;", arrow_container_style: "top: -40px; left: 350px;" },
            { container_style: "top:180px; left:350px; ", arrow_container_style: "top: 120px; left: -10px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='aerospace' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/aerospace/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/aerospace/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_space_details_path}?slide=1&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>


      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- position absolute, bottom center, a little bit right. -->
      <div class="title-pagination position-absolute" style="z-index: 1020;">
        <!-- title 0, data-id="0", on click main swiper move to data-id -->
        <!-- title 1 -->

      </div>

    </div>

    <div class="position-relative"  style="width:47%;">
      <%# render 'navs', return_path: parties_path %>

    </div>

  </div>






</div>




<!-- <div class="pt1">
  <div class="product_con">
    <div class="pic">

    </div>
    <div class="boll">
        <ul>
            <li class="b1" style="left: 62.5%; top: 36%;" data-id="8931">
                <i class="list_boll"></i>

                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身蒙皮</h3>
                    </div>
            </li>
            <li class="b1" style="left: 58.5%; top: 33%;" data-id="8932">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身加强框</h3>
                    </div>
            </li>

            <li class="b1" style="left: 56.5%; top: 36%;" data-id="8933">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空座椅</h3>
                    </div>
            </li>

            <li class="b1" style="left: 47.5%; top: 29%;" data-id="8934">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空集装箱</h3>
                    </div>
            </li>

            <li class="b1" style="left: 66.5%; top: 43%;" data-id="8926">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机翼壁板</h3>
                    </div>
            </li>
        </ul>
    </div>

  </div>

</div> -->
