<div class=" position-relative window-holder" style="" >
  <div class="business-detail-bg-img w-100 h-100 position-absolute">
    <%= image_pack_tag 'media/images/businesses/ship/main-bg-ship.png', class: '', style: '' %>
  </div>

  <div class=" row g-0 position-relative">

    <!-- Slider main container -->
    <div class="swiper-container businesses-main-swiper position-relative" style=" background-color: rgba(0,0,0,0.6); ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides family car slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 300px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:330px; left: 80px;">
            <%= image_pack_tag 'media/images/businesses/ship/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 2006px; height: 643px; margin-left: 500px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/ship/ship.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:0px; left:540px;", arrow_container_style: "top: 270px; left: 390px;" },
              { container_style: "top:-20px; left:910px;", arrow_container_style: "top: 220px; left: 250px; z-index:1;" },
              { container_style: "top:120px; left:1090px;", arrow_container_style: "top: -50px; left: 400px;" },
              { container_style: "top:170px; left:1430px; ", arrow_container_style: "top: -60px; left: 185px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='family' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/ship/ship/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/ship/ship/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_ship_details_path}?slide=0&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>


      </div>

      <!-- <div class="my-swiper-navigation-container">
        <div class="my-swiper-button-prev"></div>
        <div class="my-swiper-button-next"></div>
      </div> -->

      <!-- If we need pagination -->
      <div class="swiper-pagination business-swiper-pagination">
        <div class="my-swiper-pagination-bullet">
        </div>
      </div>
      <!-- position absolute, bottom center, a little bit right. -->
      <div class="title-pagination position-absolute" style="z-index: 1020;  left: 1250px; bottom: 70px;">
        <!-- title 0, data-id="0", on click main swiper move to data-id -->
        <!-- title 1 -->
        <div class="row g-0">
          <div class="col business-swiper-tag position-relative" data-id="1" >
            <%= image_pack_tag 'media/images/businesses/ship/1-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/ship/1-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>

        </div>
      </div>

    </div>

    <div class="position-relative"  style="width:47%;">
      <%# render 'navs', return_path: parties_path %>

    </div>

  </div>






</div>




<!-- <div class="pt1">
  <div class="product_con">
    <div class="pic">

    </div>
    <div class="boll">
        <ul>
            <li class="b1" style="left: 62.5%; top: 36%;" data-id="8931">
                <i class="list_boll"></i>

                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身蒙皮</h3>
                    </div>
            </li>
            <li class="b1" style="left: 58.5%; top: 33%;" data-id="8932">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身加强框</h3>
                    </div>
            </li>

            <li class="b1" style="left: 56.5%; top: 36%;" data-id="8933">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空座椅</h3>
                    </div>
            </li>

            <li class="b1" style="left: 47.5%; top: 29%;" data-id="8934">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空集装箱</h3>
                    </div>
            </li>

            <li class="b1" style="left: 66.5%; top: 43%;" data-id="8926">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机翼壁板</h3>
                    </div>
            </li>
        </ul>
    </div>

  </div>

</div> -->
