<div class=" position-relative window-holder" style="" >
  <div class="business-detail-bg-img w-100 h-100 position-absolute">
    <%= image_pack_tag 'media/images/businesses/train/main-bg-train.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/train/main-bg-metro.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/train/main-bg-sky-train.png', class: '', style: '' %>
  </div>

  <div class=" row g-0 position-relative">

    <!-- Slider main container -->
    <div class="swiper-container businesses-main-swiper position-relative" style=" background-color: rgba(0,0,0,0.6); ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides train slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 420px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:350px; left: 80px;">
            <%= image_pack_tag 'media/images/businesses/train/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1784px; height: 571px; margin-left: 660px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/train.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:-70px; left:400px;", arrow_container_style: "top: 370px; left: 110px;" },
              { container_style: "top:-90px; left:760px;", arrow_container_style: "top: 260px; left: 75px;" },
              { container_style: "top:-60px; left:1120px; ", arrow_container_style: "top: 340px; left: -10px; z-index:1;" },
              { container_style: "top: 320px; left:1020px; ", arrow_container_style: "top: -60px; left: 205px; z-index:1;" },
              { container_style: "top:250px; left:1340px; ", arrow_container_style: "top: -40px; left: -40px;" },
              # 6
              { container_style: "top:40px; left:1400px; ", arrow_container_style: "top: 140px; left: 45px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='train' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/train/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/train/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_train_details_path}?slide=0&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>
        <!-- slide 2 oil-truck-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 370px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:350px; left: 80px;">
            <%= image_pack_tag 'media/images/businesses/train/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1699px; height: 544px; margin-left: 740px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/metro.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:380px; left:1100px;", arrow_container_style: "top: -40px; left: -40px;" },
              { container_style: "top:-50px; left:1130px;", arrow_container_style: "top: 270px; left: -10px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='metro' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/metro/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/metro/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_train_details_path}?slide=1&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>

        <!-- slide 3 bus-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 370px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:350px; left: 80px;">
            <%= image_pack_tag 'media/images/businesses/train/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1783px; height: 571px; margin-left: 650px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/sky-train.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:-50px; left:940px;", arrow_container_style: "top: 230px; left: -10px;" },
              { container_style: "top:350px; left:1250px;", arrow_container_style: "top: -40px; left: -40px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='sky-train' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/sky_train/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/sky_train/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_train_details_path}?slide=2&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>


      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      <!-- position absolute, bottom center, a little bit right. -->
      <div class="title-pagination position-absolute" style="z-index: 1020; left: 1250px; bottom: 70px;">
        <!-- title 0, data-id="0", on click main swiper move to data-id -->
        <!-- title 1 -->
        <div class="row g-0">
          <div class="col business-swiper-tag position-relative" data-id="1" >
            <%= image_pack_tag 'media/images/businesses/train/1-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/1-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
          <div class="col business-swiper-tag ms-5 position-relative" data-id="2" >
            <%= image_pack_tag 'media/images/businesses/train/2-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/2-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>

        <div class="row g-0 mt-5">
          <div class="col business-swiper-tag position-relative" data-id="3" >
            <%= image_pack_tag 'media/images/businesses/train/3-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/3-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>
      </div>

    </div>

    <div class="position-relative"  style="width:47%;">
      <%# render 'navs', return_path: parties_path %>

    </div>

  </div>






</div>




<!-- <div class="pt1">
  <div class="product_con">
    <div class="pic">

    </div>
    <div class="boll">
        <ul>
            <li class="b1" style="left: 62.5%; top: 36%;" data-id="8931">
                <i class="list_boll"></i>

                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身蒙皮</h3>
                    </div>
            </li>
            <li class="b1" style="left: 58.5%; top: 33%;" data-id="8932">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身加强框</h3>
                    </div>
            </li>

            <li class="b1" style="left: 56.5%; top: 36%;" data-id="8933">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空座椅</h3>
                    </div>
            </li>

            <li class="b1" style="left: 47.5%; top: 29%;" data-id="8934">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空集装箱</h3>
                    </div>
            </li>

            <li class="b1" style="left: 66.5%; top: 43%;" data-id="8926">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机翼壁板</h3>
                    </div>
            </li>
        </ul>
    </div>

  </div>

</div> -->
