<div class=" position-relative window-holder" style="" >
  <div class="business-detail-bg-img w-100 h-100 position-absolute">
    <%= image_pack_tag 'media/images/businesses/train/main-bg-train.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/train/main-bg-metro.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/train/main-bg-sky-train.png', class: '', style: '' %>
  </div>

  <div class=" row g-0 position-relative">

    <!-- Slider main container -->
    <div class="swiper-container businesses-main-swiper position-relative" style=" background-color: rgba(0,0,0,0.6); ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides train slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 315px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:262px; left: 60px;">
            <%= image_pack_tag 'media/images/businesses/train/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1338px; height: 428px; margin-left: 495px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/train.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:-52px; left:300px;", arrow_container_style: "top: 277px; left: 82px;" },
              { container_style: "top:-67px; left:570px;", arrow_container_style: "top: 195px; left: 56px;" },
              { container_style: "top:-45px; left:840px; ", arrow_container_style: "top: 255px; left: -7px; z-index:1;" },
              { container_style: "top: 240px; left:765px; ", arrow_container_style: "top: -45px; left: 153px; z-index:1;" },
              { container_style: "top:187px; left:1005px; ", arrow_container_style: "top: -30px; left: -30px;" },
              # 6
              { container_style: "top:30px; left:1050px; ", arrow_container_style: "top: 105px; left: 33px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='train' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/train/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/train/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_train_details_path}?slide=0&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>
        <!-- slide 2 oil-truck-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 277px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:262px; left: 60px;">
            <%= image_pack_tag 'media/images/businesses/train/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1274px; height: 408px; margin-left: 555px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/metro.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:285px; left:825px;", arrow_container_style: "top: -30px; left: -30px;" },
              { container_style: "top:-37px; left:847px;", arrow_container_style: "top: 202px; left: -7px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='metro' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/metro/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/metro/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_train_details_path}?slide=1&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>

        <!-- slide 3 bus-slide -->
        <div class="swiper-slide position-relative">
          <div class="w-100" style="height: 277px;"></div>
          <!-- text intro -->
          <div class="position-absolute" style="top:262px; left: 60px;">
            <%= image_pack_tag 'media/images/businesses/train/text.png', class: '', style: '' %>
          </div>

          <!-- product container -->
          <div class=" position-relative"  style="width: 1337px; height: 428px; margin-left: 487px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/sky-train.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:-37px; left:705px;", arrow_container_style: "top: 172px; left: -7px;" },
              { container_style: "top:262px; left:937px;", arrow_container_style: "top: -30px; left: -30px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type='sky-train' data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/sky_train/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/sky_train/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <%= link_to( "#{businesses_train_details_path}?slide=2&id=#{humanId}" ) do %>
                    <div class="arrow-container animate__animated animate__fadeInDown" style='<%= point[:arrow_container_style] %>' >
                      <div class="position-relative">
                        <div class="arrow-2">
                        </div>
                        <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            <% end %>
          </div>

        </div>


      </div>

      <div class="my-swiper-navigation-container">
        <div class="my-swiper-button-prev"></div>
        <div class="my-swiper-button-next"></div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination business-swiper-pagination">
        <div class="my-swiper-pagination-bullet">
        </div>
      </div>
      <!-- position absolute, bottom center, a little bit right. -->
      <div class="title-pagination position-absolute" style="z-index: 1020; left: 937px; bottom: 52px;">
        <!-- title 0, data-id="0", on click main swiper move to data-id -->
        <!-- title 1 -->
        <div class="row g-0">
          <div class="col business-swiper-tag position-relative" data-id="1" >
            <%= image_pack_tag 'media/images/businesses/train/1-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/1-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
          <div class="col business-swiper-tag ms-5 position-relative" data-id="2" >
            <%= image_pack_tag 'media/images/businesses/train/2-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/2-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>

        <div class="row g-0 mt-5">
          <div class="col business-swiper-tag position-relative" data-id="3" >
            <%= image_pack_tag 'media/images/businesses/train/3-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/3-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>
      </div>

    </div>

    <div class="position-relative"  style="width:47%;">
      <%# render 'navs', return_path: parties_path %>

    </div>

  </div>






</div>




<!-- <div class="pt1">
  <div class="product_con">
    <div class="pic">

    </div>
    <div class="boll">
        <ul>
            <li class="b1" style="left: 62.5%; top: 36%;" data-id="8931">
                <i class="list_boll"></i>

                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身蒙皮</h3>
                    </div>
            </li>
            <li class="b1" style="left: 58.5%; top: 33%;" data-id="8932">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机身加强框</h3>
                    </div>
            </li>

            <li class="b1" style="left: 56.5%; top: 36%;" data-id="8933">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空座椅</h3>
                    </div>
            </li>

            <li class="b1" style="left: 47.5%; top: 29%;" data-id="8934">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">航空集装箱</h3>
                    </div>
            </li>

            <li class="b1" style="left: 66.5%; top: 43%;" data-id="8926">
                <i class="list_boll"></i>
                    <div class="list_box transition05" style="top:-1200%; left:-700%;">
                        <h3 class="list_title">机翼壁板</h3>
                    </div>
            </li>
        </ul>
    </div>

  </div>

</div> -->
