<% slide_type = ['train', 'metro', 'sky-train'] %>
<div class="window-holder position-relative " style="" >
  <div class="business-detail-bg-img w-100 h-100 position-absolute">
    <%= image_pack_tag 'media/images/businesses/train/main-bg-train.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/train/main-bg-metro.png', class: '', style: '' %>
    <%= image_pack_tag 'media/images/businesses/train/main-bg-sky-train.png', class: '', style: '' %>
  </div>

  <div class=" row g-0 position-relative" >
    <!-- left -->
    <div class="position-relative animate__animated animate__fadeInLeft"  style="width:47%; z-index: 2;">
      <div class="w-100" style="height: 300px;"></div>

      <div class="business-components-container">
        <!-- train-components -->
        <div class="train-components business-components position-relative" style="width: 1200px; height: 587px; ">
          <% train_num_range = (1..6) %>
          <div class="position-absolute" style="left: 90px;" >
            <% train_num_range.each do |i| %>
              <%= image_pack_tag "media/images/businesses/train/train/details/#{i}.png", class: 'component-info ', style: '' %>
            <% end %>
          </div>

          <div class="component-btns position-absolute" style="top: 510px;left: 140px;">
            <div class="row g-0 position-relative">
              <% train_num_range.each do |i| %>
                <div class="component-btn col position-relative active mx-1" data-type=<%= slide_type[0] %> data-id=<%= i %> >
                  <%= image_pack_tag "media/images/businesses/component_btns/#{i}.png", class: 'component-btn-img', style: '' %>
                  <%= image_pack_tag "media/images/businesses/component_btns/#{i}-active.png", class: 'component-btn-img-active', style: '' %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
        <!-- metro-components -->
        <div class="metro-components business-components position-relative" style="width: 1200px; height: 587px; ">
          <% metro_num_range = (1..2) %>
          <div class="position-absolute" style="left: 90px;" >
            <% metro_num_range.each do |i| %>
              <%= image_pack_tag "media/images/businesses/train/metro/details/#{i}.png", class: 'component-info', style: '' %>
            <% end %>
          </div>

          <div class="component-btns position-absolute"  style="top: 510px;left: 140px;">
            <div class="row g-0">
              <% metro_num_range.each do |i| %>
                <div class="component-btn col position-relative active mx-1" data-type=<%= slide_type[1] %> data-id=<%= i %> >
                  <%= image_pack_tag "media/images/businesses/component_btns/#{i}.png", class: 'component-btn-img', style: '' %>
                  <%= image_pack_tag "media/images/businesses/component_btns/#{i}-active.png", class: 'component-btn-img-active', style: '' %>
                </div>
              <% end %>
            </div>

          </div>
        </div>

        <!-- sky-train-components -->
        <div class="sky-train-components business-components position-relative" style="width: 1200px; height: 587px; ">
          <% sky_train_num_range = (1..2) %>
          <div class="position-absolute" style="left: 90px;" >
            <% sky_train_num_range.each do |i| %>
              <%= image_pack_tag "media/images/businesses/train/sky_train/details/#{i}.png", class: 'component-info', style: '' %>
            <% end %>
          </div>

          <div class="component-btns position-absolute"  style="top: 510px;left: 140px;">
            <div class="row g-0">
              <% sky_train_num_range.each do |i| %>
                <div class="component-btn col position-relative active mx-1" data-type=<%= slide_type[2] %> data-id=<%= i %> >
                  <%= image_pack_tag "media/images/businesses/component_btns/#{i}.png", class: 'component-btn-img', style: '' %>
                  <%= image_pack_tag "media/images/businesses/component_btns/#{i}-active.png", class: 'component-btn-img-active', style: '' %>
                </div>
              <% end %>
            </div>

          </div>
        </div>

      </div>

    </div>
    <!-- right -->
    <!-- Slider main container -->
    <div class="swiper-container businesses-details-swiper car-details-swiper animate__animated animate__fadeInRight" style="width:53%; background-color: rgba(0,0,0,0.6); ">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slide1 train-slide -->
        <!-- product_list -->
        <%= tag.div class: "swiper-slide #{slide_type[0]}-slide", data: {type: slide_type[0]} do %>
          <div class="w-100" style="height: 420px;"></div>
          <!-- product container -->
          <div class="position-relative mx-auto" style="width: 1152px; height: 457px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/train/train-croped80.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:-130px; left:0px;", arrow_container_style: "top: 370px; left: 110px;" },
              { container_style: "top:-130px; left:310px;", arrow_container_style: "top: 260px; left: 75px;" },
              { container_style: "top:-120px; left:620px; ", arrow_container_style: "top: 340px; left: -10px; z-index:1;" },
              { container_style: "top: 260px; left:490px; ", arrow_container_style: "top: -60px; left: 205px; z-index:1;" },
              { container_style: "top:200px; left:790px; ", arrow_container_style: "top: -40px; left: -40px;" },
              # 6
              { container_style: "top:0px; left:830px; ", arrow_container_style: "top: 140px; left: 45px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type=<%= slide_type[0] %> data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/train/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/train/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <div class="arrow-container animate__animated animate__fadeIn" style='<%= point[:arrow_container_style] %>' >
                    <div class="position-relative">
                      <div class="arrow-2">
                      </div>
                      <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                    </div>
                  </div>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <!-- Slide 2 metro-slide -->
        <%= tag.div class: "swiper-slide #{slide_type[1]}-slide", data: {type: slide_type[1]} do %>
          <div class="w-100" style="height: 420px;"></div>
          <!-- product container -->
          <div class="position-relative mx-auto" style="width:1152px; height: 448px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/metro/metro-croped80.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:300px; left:750px;", arrow_container_style: "top: -40px; left: -40px;" },
              { container_style: "top:-90px; left:770px;", arrow_container_style: "top: 270px; left: -10px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type=<%= slide_type[1] %> data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/metro/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/metro/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <div class="arrow-container animate__animated animate__fadeIn" style='<%= point[:arrow_container_style] %>' >
                    <div class="position-relative">
                      <div class="arrow-2">
                      </div>
                      <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                    </div>
                  </div>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <!-- Slide3 bus-slide -->
        <!-- product_list -->
        <%= tag.div class: "swiper-slide #{slide_type[2]}-slide", data: {type: slide_type[2]} do %>
          <div class="w-100" style="height: 420px;"></div>
          <!-- product container -->
          <div class="position-relative mx-auto" style="width: 999px; height: 539px; background: no-repeat left top url(<%= asset_pack_path 'media/images/businesses/train/sky_train/sky-train-croped80.png'%>) " >
            <!-- point 1 -->
            <% points = [
              { container_style: "top:-100px; left:440px;", arrow_container_style: "top: 230px; left: -10px;" },
              { container_style: "top:290px; left:720px;", arrow_container_style: "top: -40px; left: -40px;" },
            ] %>
            <% points.each_with_index do |point, i| %>
              <% humanId = i += 1 %>
              <div class="component-point-container position-absolute" data-type=<%= slide_type[2] %> data-id=<%= humanId %> style='<%= point[:container_style] %>' >
                <div class="position-relative">
                  <%= image_pack_tag "media/images/businesses/train/sky_train/titles/#{humanId}.png", class: 'title-img ', style: 'left: 0; top:0;' %>
                  <%= image_pack_tag "media/images/businesses/train/sky_train/titles/#{humanId}-active.png", class: 'title-img-active ', 'data-id': humanId, style: 'left: 0; top:0;' %>

                  <div class="arrow-container animate__animated animate__fadeIn" style='<%= point[:arrow_container_style] %>' >
                    <div class="position-relative">
                      <div class="arrow-2">
                      </div>
                      <div class="arrow-1 animate__animated animate__infinite zoomIn"></div>
                    </div>
                  </div>

                </div>
              </div>
            <% end %>
          </div>
        <% end %>


      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- position absolute, bottom center, a little bit right. -->
      <div class="title-pagination position-absolute" style="z-index: 1020; left: 50px; bottom: 50px;">
        <!-- title 0, data-id="0", on click main swiper move to data-id -->
        <div class="row g-0">
          <div class="col business-swiper-tag position-relative" data-id="1" >
            <%= image_pack_tag 'media/images/businesses/train/1-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/1-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
          <div class="col business-swiper-tag ms-5 position-relative" data-id="2" >
            <%= image_pack_tag 'media/images/businesses/train/2-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/2-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>

        <div class="row g-0 mt-5">
          <div class="col business-swiper-tag position-relative" data-id="3" >
            <%= image_pack_tag 'media/images/businesses/train/3-tag.png' %>
            <%= image_pack_tag 'media/images/businesses/train/3-tag-active.png', class: 'active-img position-absolute d-none', style: "top:0; left:0;" %>
          </div>
        </div>

      </div>


    </div>

  </div>






</div>
