<main class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/party/bg.png'%>) "  >
  <% videos = ['wj', 'gqbn', 'yxzg', 'qnll', 'wazg', 'dzwx', 'gxgs', 'xdsd', 'dcmz', 'xyhd'] %>

  <div class="absolute-video-container position-absolute w-100 h-100 video-bg-dark" style="top:0; left:0; z-index:10;">
    <% videos.each_with_index do |video_name, i| %>
      <div class="video-content-container h-100  position-relative" data-name=<%= video_name %> >
        <div class="w-100" style="height: 195px;"></div>
        <div class="col-12 text-center" style="">
          <%= image_pack_tag "media/images/party/xcl/excellence/videos/0#{i + 1}.png", class: "" %>
        </div>
        <div class=" col-auto position-relative d-flex justify-content-center mt-4" style="margin-top: 0px; " >
          <!-- <i class="bi bi-x-lg position-absolute close-video" style="font-size: 2rem; color: white; bottom: 0; left: -2em;"></i> -->
          <!-- data-setup='{"controls": true}'> -->
          <!-- vjs-show-big-play-button-on-pause -->
          <video
              id=<%= "party-#{video_name}-video" %>
              class="video-js my-vjs-skin "
              width="1087"
              enableTouchActivity
              data-setup=''>
            <source src='<%= "/videos/parties/activities/#{video_name}.mp4" %>' type="video/mp4"></source>
          </video>
        </div>
      </div>
    <% end %>

  </div>


  <div class="w-100" style="height:217px;"></div>
  <div class="row g-0 mx-auto" style="width: 95%; margin-left: 0; ">

    <div class="col-12">
      <%= image_pack_tag 'media/images/party/xcl/excellence/videos/title.png', class: "" %>

    </div>

    <div class="row g-0 mt-4" style="">

      <% videos[0..4].each_with_index do | video_name, i| %>
        <% humanId = i + 1 %>
        <div class="col text-center">
          <%= image_pack_tag "media/images/party/xcl/excellence/videos/#{humanId}.png", class: "video-tag", data: {name: video_name} %>
          <%= image_pack_tag "media/images/party/xcl/excellence/videos/0#{humanId}.png", class: "video-tag mt-2", data: {name: video_name} %>
        </div>
      <% end %>

    </div>

    <div class="row g-0 mt-4" style="">
      <% videos[5..9].each_with_index do | video_name, i| %>
        <% humanId = i + 6 %>
        <div class="col text-center">
          <%= image_pack_tag "media/images/party/xcl/excellence/videos/#{humanId}.png", class: "video-tag", data: {name: video_name} %>
          <%= image_pack_tag "media/images/party/xcl/excellence/videos/0#{humanId}.png", class: "video-tag mt-2", data: {name: video_name} %>
        </div>
      <% end %>

    </div>


  </div>





</main>
