<div class="position-absolute w-100" style="height: 905px; bottom: 0px; z-index: 1000; background-image:url(<%= asset_pack_path 'media/images/corp/nav-bg.png'%>)">

  <% corp_navs = [
  {path: corp_all_path, img_path: 'media/images/corp/c-nav-corp.png'},
  {path: "#", img_path: 'media/images/corp/c-nav-strategy.png'},
  {path: "#", img_path: 'media/images/corp/c-nav-culture.png'},
  {path: "#", img_path: 'media/images/corp/c-nav-guangxi-businesses.png'},
  ] %>

  <div class="position-relative">
    <div class="row g-0">
      <div class="col-7">
      </div>
      <div class="col position-relative mt-3">
        <div class="position-absolute" style="top:0" >
          <%= link_to(corp_navs[0][:path], html_options = {}) do %>
            <%= image_pack_tag corp_navs[0][:img_path] %>
          <% end %>
        </div>

        <div class="position-absolute" style="top:0; left:650px;" >
          <%= link_to(corp_navs[1][:path], html_options = {}) do %>
            <%= image_pack_tag corp_navs[1][:img_path] %>
          <% end %>
        </div>

        <div class="position-absolute" style="top:290px; left:10px;" >
          <%= link_to(corp_navs[2][:path], html_options = {}) do %>
            <%= image_pack_tag corp_navs[2][:img_path] %>
          <% end %>
        </div>

        <div class="position-absolute" style="top:290px; left:650px;" >
          <%= link_to(corp_navs[3][:path], html_options = {}) do %>
            <%= image_pack_tag corp_navs[3][:img_path] %>
          <% end %>
        </div>

      </div>
    </div>

  </div>

</div>
