<main class=" bg-primary position-relative">
  <!-- Slider main container -->
  <div class="swiper-container mySwiper window-holder">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/swiper1-bg.png'%>)" >
        <div class="row g-0 justify-content-end" style="margin: 180px 260px 0 0;">
          <div class="corp-index-swiper-title col-auto text-white fw-bold" style="font-size: 6.5rem">
            团结 创新 严谨 开拓
          </div>
          <div class="col-12 corp-index-swiper-num" >
            <div class="row g-0 justify-content-end text-white" style="margin-top: 60px; font-size: 5rem">
              <div class="col-auto position-relative" >
                <div class="position-absolute counter" style="left: 53px; top: -66px">60</div>
                <%= image_pack_tag 'media/images/corp/num-1.png' %>
              </div>
              <div class="col-auto position-relative">
                <div class="position-absolute counter" style="left: 86px; top: -66px">101</div>
                <%= image_pack_tag 'media/images/corp/num-2.png' %>
              </div>
              <div class="col-auto position-relative">
                <div class="position-absolute counter" style="left: 60px; top: -66px">102</div>
                <%= image_pack_tag 'media/images/corp/num-3.png' %>
              </div>
              <div class="col-auto position-relative">
                <div class="position-absolute counter" style="left: 56px; top: -66px">10</div>
                <%= image_pack_tag 'media/images/corp/num-4.png' %>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-0 justify-content-end text-white fw-bold" style="margin: 70px 120px 0 0; line-height: 1; font-size: 4rem">
          <div class="col-12 text-end" style="">
            CORPORATE
          </div>
          <div class="col-12 text-end" style="">
            INTRODUCTION
          </div>
          <div class="col-12 text-end" style="font-size: 5rem">
            企业概况
          </div>
        </div>

      </div>
      <!-- swiper-slide2 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/swiper2/swiper2-bg.png'%>)">
        <div class="row g-0 justify-content-end text-white" style="margin-top: 180px; ">
          <div class="col text-end fw-bold" style="font-size: 6.5rem; margin-right: 6%;">
            领导关怀
          </div>
          <div class="w-100"></div>
          <div class="fw-bold" style="font-size: 1.6rem; width: 20%; margin-right: 6%;">
            <p style="text-indent: 2em;">习近平总书记于2017年4月20日视察南南铝加工，并在公司作出重要指示：“国有企业要做落实新发展理念的排头兵、做创新驱动发展的排头兵、做实施国家重大战略的排头兵”。</p>
          </div>
        </div>

        <div class="row g-0 justify-content-end text-white fw-bold" style="margin: 70px 120px 0 0; line-height: 1; font-size: 4rem">
          <div class="col-12 text-end" style="">
            CORPORATE
          </div>
          <div class="col-12 text-end" style="">
            INTRODUCTION
          </div>
          <div class="col-12 text-end" style="font-size: 5rem">
            企业概况
          </div>
        </div>
      </div>

      <!-- swiper-slide3 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/swiper3/swiper3-bg.png'%>)">
        <div class="row g-0 justify-content-end text-white" style="margin-top: 280px;">
          <div class="col-12 text-end fw-bold" style="font-size: 6.5rem; margin-right: 6%;">
            全球布局
          </div>
          <div class="col-3 fw-bold" style="font-size: 1.6rem; margin-right: 6%;">
            <p style="text-indent: 2em;">我们坚持技术创新驱动未来发展，凭借质量和服务优势，致力于国际国内两个市场，逐步形成了全球布局的营销网络。</p>
          </div>
        </div>

        <div class="row g-0 justify-content-end text-white fw-bold" style="margin: 45px 80px 0 0; line-height: 1; font-size: 4rem">
          <div class="col-12 text-end" style="">
            CORPORATE
          </div>
          <div class="col-12 text-end" style="">
            INTRODUCTION
          </div>
          <div class="col-12 text-end" style="font-size: 5rem">
            企业概况
          </div>
        </div>
      </div>

      <!-- swiper-slide4 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/swiper4/swiper4-bg.png'%>)">
        <div class="row g-0 justify-content-end" style="margin-top: 280px;margin-right: 4%;">
          <div class="col-6 text-center text-white fw-bold" style="font-size: 6.5rem">
            企业荣誉
          </div>
          <div class="col-12" >
            <div class="row g-0 justify-content-end text-white text-center" style="margin-top: 60px; ">
              <div class="col-auto position-relative mx-5" >
                <div class="position-absolute" style="font-size: 2.5rem; right: 60px; top: 0px">佳</div>
                <div class="counter" style="font-size: 8rem; fw-bold;">10</div>
                <div class="" style="font-size: 2.5rem">中国铝行业十佳厂商</div>
              </div>
              <div class="col-auto position-relative mx-5">
                <div class="position-absolute" style="font-size: 2.5rem; right: 65px; top: 0px">大</div>
                <div class="counter" style="font-size: 8rem; fw-bold;">10</div>
                <div class="" style="font-size: 2.5rem">中国十大铝加工企业</div>
              </div>
              <div class="col-auto position-relative mx-5">
                <div class="position-absolute" style="font-size: 2.5rem; right: 86px; top: 0px">强</div>
                <div class="counter" style="font-size: 8rem; fw-bold;">10</div>
                <div class="" style="font-size: 2.5rem">中国铝板带材十强企业</div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>

  <%= render 'corp_links' %>

  <div class="bottom position-absolute" style="z-index: 1010; bottom: 40px; right: 40px;" >
    <%= link_to(corp_all_path) do %>
      <%= image_pack_tag 'media/images/corp/go-back.png' %>
    <% end %>
  </div>

</main>



</div>
