<main class="window-holder position-relative" style=""  >
  <!-- <div class="w-100" style="height: 22%;" >
  </div> -->

  <div class="row g-0 m-auto w-100" style=" ">
    <div class="col text-end" style="width: 50%; ">
      <%= link_to(culture_gt_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/corp/culture/gt-big-nav.png' %>
      <% end %>
    </div>

    <div class="col" style="width: 50%;">
      <%= link_to(culture_xcl_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/corp/culture/xcl-big-nav.png' %>
      <% end %>
    </div>
  </div>

  <%= render 'profile_bottom', return_path: corp_all_path %>

</main>
