<main class=" bg-primary position-relative">
  <!-- Slider main container -->
  <div class="swiper-container cultureXclSwiper window-holder">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper" >
      <!-- swiper-slide1 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/culture/xcl_swiper/bg.png'%>)" >
        <div class="row g-0 " style="width:95%; margin-left: 3%; margin-top:250px;">
          <div class="col position-relative" style="height: 750px;">
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/left-circle.png', class: "position-absolute", style: "left:-500px; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/top-circle.png', class: "position-absolute", style: "left:800px; top: -350px;" %>
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/right-circle.png', class: "position-absolute", style: "right:-500px; top: -300px;" %>

            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/500.png', class: "position-absolute", style: "left:0; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/management/title.png', class: "position-absolute", style: "left:500px; top: -150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/xcl-logo.png', class: "position-absolute", style: "right:0px; top: 100px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/management/eng.png', class: "position-absolute", style: "left:0px; bottom: 0px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/management/bar.png', class: "position-absolute", style: "right:-50px; bottom: -100px;" %>
          </div>
        </div>

      </div>

      <!-- swiper-slide2 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/culture/xcl_swiper/bg.png'%>)" >
        <div class="row g-0 " style="width:95%; margin-left: 3%; margin-top:250px;">
          <div class="col position-relative" style="height: 750px;">
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/left-circle.png', class: "position-absolute", style: "left:-500px; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/top-circle.png', class: "position-absolute", style: "left:800px; top: -350px;" %>
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/right-circle.png', class: "position-absolute", style: "right:-500px; top: -300px;" %>

            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/500.png', class: "position-absolute", style: "left:0; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/enterprise/title.png', class: "position-absolute", style: "left:500px; top: -150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/xcl-logo.png', class: "position-absolute", style: "right:0px; top: 100px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/enterprise/eng.png', class: "position-absolute", style: "left:0px; bottom: 0px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/enterprise/bar.png', class: "position-absolute", style: "right:0px; bottom: -120px;" %>
          </div>
        </div>

      </div>

      <!-- swiper-slide3 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/culture/xcl_swiper/bg.png'%>)" >
        <div class="row g-0 " style="width:95%; margin-left: 3%; margin-top:250px;">
          <div class="col position-relative" style="height: 750px;">
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/left-circle.png', class: "position-absolute", style: "left:-500px; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/top-circle.png', class: "position-absolute", style: "left:800px; top: -350px;" %>
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/right-circle.png', class: "position-absolute", style: "right:-500px; top: -300px;" %>

            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/500.png', class: "position-absolute", style: "left:0; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/safety/title.png', class: "position-absolute", style: "left:500px; top: -150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/xcl-logo.png', class: "position-absolute", style: "right:0px; top: 100px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/safety/eng.png', class: "position-absolute", style: "left:0px; bottom: 0px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/safety/bar.png', class: "position-absolute", style: "right:0px; bottom: -100px;" %>
          </div>
        </div>

      </div>

      <!-- swiper-slide4 -->
      <div class="swiper-slide" style="background-image:url(<%= asset_pack_path 'media/images/corp/culture/xcl_swiper/bg.png'%>)" >
        <div class="row g-0 " style="width:95%; margin-left: 3%; margin-top:250px;">
          <div class="col position-relative" style="height: 750px;">
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/left-circle.png', class: "position-absolute", style: "left:-500px; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/top-circle.png', class: "position-absolute", style: "left:800px; top: -350px;" %>
            <%# image_pack_tag 'media/images/corp/culture/xcl_swiper/right-circle.png', class: "position-absolute", style: "right:-500px; top: -300px;" %>

            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/500.png', class: "position-absolute", style: "left:0; top: 150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/quality/title.png', class: "position-absolute", style: "left:500px; top: -150px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/xcl-logo.png', class: "position-absolute", style: "right:0px; top: 100px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/quality/eng.png', class: "position-absolute", style: "left:0px; bottom: 0px;" %>
            <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/quality/bar.png', class: "position-absolute", style: "right:0px; bottom: -100px;" %>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="position-absolute" style="top: 1030px; left:50px; z-index: 1;">
    <!-- Thumbs Slider main container -->
    <div class="swiper-container cultureThumbsSwiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" >
        <!-- swiper-slide1 -->
        <div class="swiper-slide position-relative" >
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag1.png', class: "", style: "width:auto;" %>
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag1-active.png', class: "position-absolute active-tag" %>
        </div>

        <!-- swiper-slide2 -->
        <div class="swiper-slide position-relative"  >
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag2.png', class: "", style: "width:auto;"  %>
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag2-active.png', class: "position-absolute active-tag" %>
        </div>

        <!-- swiper-slide3 -->
        <div class="swiper-slide position-relative"  >
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag3.png', class: "", style: "width:auto;"  %>
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag3-active.png', class: "position-absolute active-tag" %>
        </div>

        <!-- swiper-slide4 -->
        <div class="swiper-slide position-relative"  >
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag4.png', class: "", style: "width:auto;"  %>
          <%= image_pack_tag 'media/images/corp/culture/xcl_swiper/thumb_swiper/tag4-active.png', class: "position-absolute active-tag" %>
        </div>

      </div>

    </div>
  </div>

  <%= render 'profile_bottom', return_path: "" %>


</main>
