<main class="position-relative">
  <!-- Slider main container -->
  <div class="swiper-container corpAllSwiper window-holder">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- swiper-slide1 -->
      <div class="swiper-slide" style="background: center url(<%= asset_pack_path 'media/images/corp/corp_all_swiper/1-bg.png'%>)" >


      </div>

      <!-- swiper-slide2 -->
      <div class="swiper-slide" style="background: top no-repeat url(<%= asset_pack_path 'media/images/corp/corp_all_swiper/2-bg.png'%>)" >


      </div>

      <!-- swiper-slide3 -->
      <div class="swiper-slide" style="background: center url(<%= asset_pack_path 'media/images/corp/corp_all_swiper/3-bg.png'%>)">
        <div class="row g-0 justify-content-end text-white" style="margin-top: 22%; margin-right: 5%;">
          <div class="title-slide-in col-auto text-center fw-bold" style="">
            <%= image_pack_tag 'media/images/corp/corp_all_swiper/leader-title.png', class: "", style: "" %>
            <div class="w-100"></div>
            <%= image_pack_tag 'media/images/corp/corp_all_swiper/leader-text.png', class: "flag-flip", style: "width:729px;" %>

          </div>

        </div>

      </div>

      <!-- swiper-slide4 -->
      <div class="swiper-slide" style="background: center url(<%= asset_pack_path 'media/images/corp/corp_all_swiper/4-bg.png'%>)">
        <div class="row g-0 justify-content-end text-white" style="margin-top: 35%;">
          <div class="col-auto text-end " style=" margin-right: 6%;">
            <div class="row g-0 ">
              <div class="col-auto position-relative">
                <%= image_pack_tag 'media/images/corp/corp_all_swiper/global-title.png', class: "position-absolute title-slide-in", style: "top: 50%; right: -50px; margin-top: -80px;" %>
              </div>

              <div class="col-auto  position-relative" style="width: 974px; height: 247px; background: center url(<%= asset_pack_path 'media/images/corp/corp_all_swiper/global-flag-bg.png'%>)">
                <%= image_pack_tag 'media/images/corp/corp_all_swiper/global-flag-text.png', class: "position-absolute title-slide-in", style: "top: 50%; left:80px;  margin-top: -52px;" %>
              </div>
            </div>


          </div>
        </div>

      </div>


    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination swiper-pagination-vertical">
    </div>

  </div>


  <%= render 'profile_bottom', return_path: "" %>


</main>
