<p id="notice"><%= notice %></p>

<h1>Corp Infos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corp_infos.each do |corp_info| %>
      <tr>
        <td><%= link_to 'Show', corp_info %></td>
        <td><%= link_to 'Edit', edit_corp_info_path(corp_info) %></td>
        <td><%= link_to 'Destroy', corp_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corp Info', new_corp_info_path %>
