<main class="window-holder position-relative"   >
  <!-- video container -->
  <div class="position-absolute " style="z-index: 0;">
    <div class="position-relative " style="width: 1920px; height: 1080px; overflow: hidden;">
      <!-- mask -->
      <div class="position-absolute w-100 h-100" style="z-index: 1; background: rgba(0,0,0, 0.3); ">
      </div>
      <video id="industry-liuzhou-video"
               class="video-js vjs-default-skin industry-bg-video"
               width=1920
               style=""
               loop >
        <p>
          Your browser doesn't support video. Please <a href="http://browsehappy.com/">upgrade your browser</a> to see the example.
        </p>
        <source src="/videos/industry/liuzhou.mp4" type="video/mp4">
        <!-- <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm"> -->
      </video>
    </div>
  </div>

  <div class="w-100" style="height: 22%;" ></div>

  <!-- align-items-center justify-content-center -->
  <div class="row g-0 justify-content-center m-auto position-relative" style="width:93%; ">
    <!-- left -->
    <div class="col">
      <div class="w-100" style="height: 330px;" ></div>

      <div class="row g-0 w-100 d-flex justify-content-start" style="margin-left: 80px;">
        <div class="col-auto position-relative" style="width: 657px; height:42px;">
          <%= image_pack_tag "media/images/corp/industry/liuzhou/sub-title.png", class: 'position-absolute', style: 'top:0; left: -90px;' %>
        </div>
        <div class="w-100" style="" ></div>

        <div class="d-flex justify-content-center align-items-center" style="width: 766px; height: 185px; background: center no-repeat url(<%= asset_pack_path 'media/images/corp/industry/liuzhou/text-bg.png'%>)">
          <%= image_pack_tag "media/images/corp/industry/liuzhou/text.png" %>

        </div>
      </div>

    </div>

    <!-- right -->
    <div class="col text-end">
      <%= image_pack_tag "media/images/corp/industry/liuzhou/title.png", class: '', style: '' %>
    </div>

  </div>


  <%= render 'profile_bottom'  %>

</main>
