<main class="position-relative w-100 h-100">

  <!-- Slider main container -->
  <div class="swiper-container industry-nanning-swiper window-holder">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <!-- Slide 1 -->
      <div class="swiper-slide position-relative">
        <!-- Slide 1 bg video container -->
        <div class="position-absolute " style="z-index: 0;">
          <div class="position-relative " style="width: 2560px; height: 1440px; background: rgba(0,0,0, 0.3); overflow: hidden;">
            <div class="position-absolute w-100 h-100" style="z-index: 1; background: rgba(0,0,0, 0.3); ">
            </div>
            <video id="industry-nanning-nnl-video"
                     class="video-js vjs-default-skin industry-bg-video"
                     style=""
                     loop >
              <source src="/videos/industry/nnl.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <!-- Slide 1 front -->
        <div class="position-relative w-100 h-100" style="z-index:1;">

          <div class="w-100" style="height: 60%;" ></div>

          <div class="row g-0 w-100 d-flex justify-content-end">
            <div class="col-auto position-relative" style="width: 873px; height:56px;">
              <%= image_pack_tag "media/images/corp/industry/nanning/swiper1/title.png", class: 'position-absolute', style: 'top:0; left: -90px;' %>
            </div>
            <div class="w-100" style="" ></div>

            <div class="d-flex justify-content-center align-items-center" style="width: 873px; height: 203px;background: center no-repeat url(<%= asset_pack_path 'media/images/corp/industry/nanning/swiper1/text-bg.png'%>)">
              <%= image_pack_tag "media/images/corp/industry/nanning/swiper1/text.png" %>

            </div>
          </div>

        </div>

      </div>

      <!-- Slide2 -->
      <div class="swiper-slide  position-relative">
        <!-- Slide2 bg video container -->
        <div class="position-absolute " style="z-index: 0;">
          <div class="position-relative " style="width: 2560px; height: 1440px; background: rgba(0,0,0, 0.3); overflow: hidden;">
            <div class="position-absolute w-100 h-100" style="z-index: 1; background: rgba(0,0,0, 0.3); ">
            </div>
            <video id="industry-nanning-guomao-video"
                     class="video-js vjs-default-skin industry-bg-video"
                     style=""
                     loop >
              <source src="/videos/industry/guomao.mp4" type="video/mp4">
            </video>
          </div>
        </div>

        <!-- Slide2 front -->
        <div class="position-relative w-100 h-100" style="z-index:1;">

          <div class="w-100" style="height: 45%;" ></div>

          <div class="row g-0 w-100 d-flex justify-content-end">
            <div class="col-auto position-relative" style="width: 873px; height:56px;">
              <%= image_pack_tag "media/images/corp/industry/nanning/swiper2/title.png", class: 'position-absolute', style: 'top:0; left: -90px;' %>
            </div>
            <div class="w-100" style="" ></div>

            <div class="d-flex justify-content-center align-items-center" style="width: 873px; height: 364px;background: center no-repeat url(<%= asset_pack_path 'media/images/corp/industry/nanning/swiper2/text-bg.png'%>)">
              <%= image_pack_tag "media/images/corp/industry/nanning/swiper2/text.png" %>

            </div>
          </div>

        </div>

      </div>


    </div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div> -->
    <!-- <div class="swiper-button-next"></div> -->

  </div>

  <!-- swiper pagination  -->
  <div class="position-absolute" style="top: 600px; left: 80px; width: 900px; z-index: 1020;" >
    <div class="row g-0">
      <div class="col-12 mb-3">
        <%= image_pack_tag 'media/images/corp/industry/nanning/main-title.png' %>
      </div>
      <% (1..2).each do |i| %>
        <div class="col-12 industry-nanning-swiper-tag position-relative mt-3" data-id=<%= i %> >
          <%= image_pack_tag "media/images/corp/industry/hezhou/tags/0#{i}.png", class: 'img' %>
          <%= image_pack_tag "media/images/corp/industry/hezhou/tags/#{i}.png", class: 'img-active' %>
        </div>
      <% end %>

    </div>
  </div>



  <%= render 'profile_bottom', return_path: corp_infos_industry_path %>

</main>
