<main class="window-holder position-relative" style=" "  >

  <!-- bg video container -->
  <div class="position-absolute " style="z-index: 0;">
    <div class="position-relative " style="width: 1920px; height: 1080px; overflow: hidden;">
      <div class="position-absolute w-100 h-100" style="z-index: 1; background: rgba(0,0,0, 0.3); ">
      </div>
      <video id="industry-laibin-video"
               class="video-js vjs-default-skin industry-bg-video"
               width=1920
               style=""
               loop >
        <source src="/videos/industry/laibin.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="w-100" style="height: 22%;" ></div>

  <!-- align-items-center justify-content-center -->
  <div class="row g-0 justify-content-center m-auto position-relative" style="width:95%; ">
    <!-- left -->
    <div class="col text-startCount">
      <%= image_pack_tag "media/images/corp/industry/laibin/main-title.png", class: '', style: '' %>
    </div>

    <!-- right -->
    <div class="col">
      <div class="w-100" style="height: 20px;" ></div>

      <div class="row g-0 w-100 d-flex justify-content-end">
        <div class="col-auto position-relative" style="width: 655px; height:42px;">
          <%= image_pack_tag "media/images/corp/industry/laibin/title.png", class: 'position-absolute', style: 'top:0; left: -90px;' %>
        </div>
        <div class="w-100" style="" ></div>

        <div class="d-flex align-items-center ps-5" style="width: 655px; height: 236px; background: center no-repeat url(<%= asset_pack_path 'media/images/corp/industry/laibin/text-bg.png'%>)">
          <%= image_pack_tag "media/images/corp/industry/laibin/text.png" %>

        </div>
      </div>


    </div>

  </div>


  <%= render 'profile_bottom' %>

</main>
