<main class="window-holder position-relative" style=" background: url(<%= asset_pack_path 'media/images/corp/industry/xinjiang/bg.png'%>) "   >

  <div class="w-100" style="height: 22%;" ></div>

  <!-- align-items-center justify-content-center -->
  <div class="row g-0 justify-content-center m-auto position-relative" style="width:100%; ">
    <!-- left -->
    <div class="col text-startCount">
      <%= image_pack_tag "media/images/corp/industry/xinjiang/main-title.png", class: 'position-absolute', style: 'top:0; left: 90px;' %>
    </div>

    <!-- right -->
    <div class="col">
      <div class="w-100" style="height: 180px;" ></div>

      <div class="row g-0 w-100 d-flex justify-content-end">
        <div class="col-auto position-relative" style="width: 873px; height:56px;">
          <%= image_pack_tag "media/images/corp/industry/xinjiang/title.png", class: 'position-absolute', style: 'top:0; left: -90px;' %>
        </div>
        <div class="w-100" style="" ></div>

        <div class="d-flex justify-content-center align-items-center" style="width: 920px; height: 278px;background: center no-repeat url(<%= asset_pack_path 'media/images/corp/industry/text-bg.png'%>); background-size: cover;">
          <%= image_pack_tag "media/images/corp/industry/xinjiang/text.png" %>

        </div>
      </div>


    </div>

  </div>


  <%= render 'profile_bottom' %>

</main>
