<main class="window-holder position-relative" style="background-color: #F2F2F2;"  >
  <div class="w-100" style="height: 22%;" >
  </div>

  <div class="row g-0 m-auto" style="width: 90%; ">
    <div class="col text-end" style="width: 50%; ">
      <%= link_to(profile_profile_nnl_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/corp/profile/nnl-profile-bg.png' %>
      <% end %>
    </div>

    <div class="col" style="width: 50%;">
      <%= link_to(profile_profile_gt_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/corp/profile/gt-profile-bg.png' %>
      <% end %>
    </div>
  </div>

  <%= render 'profile_bottom', return_path: corp_all_path %>

</main>
