<main class="window-holder position-relative" style="overflow:hidden; background: url(<%= asset_pack_path 'media/images/corp/strategy/bg.png'%>)"  >



  <div class="w-100" style="height: 180px;" >
  </div>

  <!-- align-items-center justify-content-center -->
  <div class="row g-0 justify-content-center m-auto" style="width:90%; ">
    <div class="row g-0 " >
      <div class="w-100 " style="height: 100px;"></div>
      <div class="col-4 text-center position-relative my-sequence" data-sequence-id='2' data-movement='slideInLeft' style=""  >
        <%= image_pack_tag 'media/images/corp/strategy/gt/left.png' %>
      </div>
      <div class="col-4 text-center position-relative my-sequence" data-sequence-id='1' data-movement='fadeIn' style=""  >
        <%= image_pack_tag 'media/images/corp/strategy/gt/center.png' %>
      </div>
      <div class="col-4 text-center position-relative my-sequence" data-sequence-id='2' data-movement='slideInRight' style=""  >
        <%= image_pack_tag 'media/images/corp/strategy/gt/right.png' %>
      </div>

    </div>

  </div>


  <%= render 'profile_bottom' %>

</main>
