<!DOCTYPE html>
<html>
<head>
  <title>Advantages</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_pack_tag 'frontend/application' %>
  <%= stylesheet_pack_tag 'frontend/application' %>


</head>
<body>
  <div id='<%= "#{@page_class}-page" %>' class="my-container container-fluid g-0">
    <div class="main">
      <%= render 'advantage_header' %>

      <%= yield %>
      <% if request.path != advantages_path %>
        <%= render 'advantage_bottom' %>
      <% end %>

    </div>

  </div>

</body>
</html>
