<!DOCTYPE html>
<html>
<head>
  <title>广投新材料</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'frontend/application' %>
  <%= stylesheet_pack_tag 'frontend/application' %>

</head>
<body>


  <%= yield %>



</body>
</html>
