<!DOCTYPE html>
<html>
<head>
  <title>Frontend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'frontend/application' %>
  <%= stylesheet_pack_tag 'frontend/application' %>

</head>
<body>
<div class="row text-center">
  <div class="col">
    <%= link_to "profile", profile_path %>
    <%= link_to "culture", culture_path %>
  </div>
</div>
<%= yield %>

</body>
</html>
