<!DOCTYPE html>
<html>
<head>
  <title>广投新材料</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'frontend/application' %>
  <%= stylesheet_pack_tag 'frontend/application' %>

</head>
<body>

  <div id='<%= "#{@page_class}-page" %>' class="my-container container-fluid g-0">
    <div class="main">
      <div class="row g-0 text-center w-100 fixed-top ">
        <%# asset_pack_path 'images/corp-top.png' %>
        <%= image_pack_tag 'media/images/corp-top.png' %>

      </div>

      <%= yield %>

    </div>

  </div>

</body>
</html>
