<div class=" position-relative" style="">

  <!-- Slider main container -->
  <div class="swiper-container window-holder equipment-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <!-- slide 1 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%;  margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/1-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/1-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/1-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/1-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/1-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>
              <!-- 1260 x 600 -->
              <div class="ms-5"  style="width: 975px;">
                <video
                    id="equipment1-video"
                    class="video-js my-vjs-skin "
                    width=880
                    loop
                    data-setup=''>
                  <source src="/videos/equipment/01.mp4" type="video/mp4"></source>
                </video>
              </div>
            </div>

          </div>
        </div>

      </div>
      <!-- slide 2 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/2-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/2-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/2-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/2-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/2-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>

              <div class="ms-5 position-relative"  style="width: 865px; height: 495px; overflow: hidden;">
                <div class="position-absolute" style="left: 50%; margin-left: -522px; top: 50%; margin-top: -248px;">
                  <video
                      id="equipment2-video"
                      class="video-js my-vjs-skin "
                      width="1044"
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/02-1.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

            <!-- <div class="mt-3 text-end" style="padding-right: 150px;">
              西马克“1+1”热轧生产线，
            </div> -->

          </div>
        </div>

      </div>

      <!-- slide 3 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/3-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/3-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/3-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/3-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/3-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>

              <div class="ms-5 position-relative"  style="width: 865px; height: 495px; overflow: hidden;">
                <div class="position-absolute" style="left: 50%; margin-left: -522px; top: 50%; margin-top: -248px;">
                  <video
                      id="equipment3-video"
                      class="video-js my-vjs-skin "
                      width="1044"
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/03.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- slide 4 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/4-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/4-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/4-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/4-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/4-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>

              <div class="ms-5 position-relative"  style="width: 865px; height: 495px; overflow: hidden;">
                <div class="position-absolute" style="left: 50%; margin-left: -522px; top: 50%; margin-top: -222px;">
                  <video
                      id="equipment4-video"
                      class="video-js my-vjs-skin "
                      width="1044"
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/04.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- slide 5 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/5-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/5-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/5-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/5-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/5-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>

              <div class="ms-5 position-relative"  style="width: 865px; height: 495px; overflow: hidden;">
                <div class="position-absolute" style="left: 50%; margin-left: -522px; top: 50%; margin-top: -241px;">
                  <video
                      id="equipment5-video"
                      class="video-js my-vjs-skin "
                      width="1044"
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/05.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>


      <!-- slide 6 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/6-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/6-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/6-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/6-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/6-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>

              <div class="ms-5 position-relative"  style="width: 975px; ">
                <div class="" style="">
                  <video
                      id="equipment6-video"
                      class="video-js my-vjs-skin "
                      width=880
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/06.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- slide 7 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:20%; padding-left: 90px;">
            <%= image_pack_tag 'media/images/advantages/equipment/7-num.png', class: '', style: '' %>
          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:80%; margin-top: 90px; margin-left: 37px;">
            <div class="d-flex w-100 justify-content-between" style="">
              <%= image_pack_tag 'media/images/advantages/equipment/7-title.png', class: '', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/7-subtitle.png', class: '', style: '' %>
            </div>

            <div class="w-100"></div>
            <div class="d-flex mt-4">
              <div class="" style="width: 502px;">
                <%= image_pack_tag 'media/images/advantages/equipment/7-img1.png', class: '', style: 'width: 502px;' %>
                <%= image_pack_tag 'media/images/advantages/equipment/7-img2.png', class: 'mt-5', style: 'width: 502px;' %>
              </div>

              <div class="ms-5 position-relative"  style="width: 975px;">
                <div class="" style="">
                  <video
                      id="equipment7-video"
                      class="video-js my-vjs-skin "
                      width=880
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/07.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- slide 8 -->
      <div class="swiper-slide" style=" overflow:hidden; ">
        <div class="mx-auto d-flex position-relative" style="width:100%; margin-top: 172px; ">
          <!-- left num -->
          <div class="slide-in-left" style="width:27%; ">
            <%= image_pack_tag 'media/images/advantages/equipment/8-num.png', class: '', style: 'margin-left:120px;' %>

            <div class="w-100 text-end">
              <%= image_pack_tag 'media/images/advantages/equipment/8-title.png', class: 'mt-5', style: '' %>
              <%= image_pack_tag 'media/images/advantages/equipment/8-subtitle.png', class: 'mt-4', style: 'w-100' %>
            </div>

          </div>
          <!-- right -->
          <div class="slide-in-right" style="width:73%; margin-top: 50px; margin-left: 37px;">

            <div class="w-100"></div>
            <div class="d-flex ">

              <div class="ms-5 position-relative"  style=" width:1200px; height: 620px; overflow: hidden; ">
                <div class="" style="">
                  <video
                      id="equipment8-video"
                      class="video-js my-vjs-skin "
                      width=1250
                      loop
                      data-setup=''>
                    <source src="/videos/equipment/08.mp4" type="video/mp4"></source>
                  </video>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>


    </div>

    <div class="my-swiper-navigation-container">
      <div class="my-swiper-button-prev"></div>
      <div class="my-swiper-button-next"></div>
    </div>

  </div>

</div>
