
<div class="window-holder position-relative" style="background: url(<%= asset_pack_path 'media/images/advantages/bg.png'%>) ">

  <div class="row g-0 position-relative">
    <div class="w-100" style="margin-top: 277px;"></div>
    <div class="col-6">
      <%= link_to( advantages_team_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/advantages/team-nav.png' %>
      <% end %>
    </div>

    <div class="col-6">
      <%= link_to( advantages_equipment_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/advantages/equipment-nav.png' %>
      <% end %>
    </div>

    <div class="col-6 offset-3">
      <%= link_to( advantages_innovation_construction_path, html_options = {}) do %>
        <%= image_pack_tag 'media/images/advantages/innovation-nav.png' %>
      <% end %>
    </div>

  </div>


</div>

<!-- bottom -->
<div class="business-bottom position-fixed w-100" style="bottom: 0; height: 158px; z-index: 1000; background: no-repeat center url(<%= asset_pack_path 'media/images/advantages/index-bottom-bg.png'%>) ">
  <div class="row h-100 g-0 position-relative">

    <div class="col ms-5" style="margin-top:60px;">
      <% if !@return_path.blank? %>
        <%= link_to( @return_path ) do %>
          <%= image_pack_tag 'media/images/corp/go-back.png' %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
