<div class="innovation-tl-page window-holder position-relative" style="">

  <div class="row g-0 position-relative ">
    <!-- main left -->
    <%= render 'innovation_left' %>


    <!-- main right -->
    <div class="" style="width: 70%; ">
      <div class="row g-0">
        <!-- timeline nav -->
        <div class="" style="width:20%; ">
          <div class="row g-0 justify-content-center">
            <div class="w-100" style="height: 600px;"></div>
            <div class="tl-tag active position-relative" data-id=1 style="width: 200px; height: 120px;">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/01.png', class: 'position-absolute tl-tag-img', style: 'top: 50%; left: 50%; margin-left: -130px; margin-top: -88px;' %>
              <%= image_pack_tag 'media/images/advantages/innovation/tl/1.png', class: 'position-absolute tl-tag-img-active', style: 'top: 50%; left: 50%; margin-left: -130px; margin-top: -88px;' %>
            </div>
            <div class="w-100" style=""></div>

            <div class="tl-tag position-relative" data-id=2 style="width: 200px; height: 120px;">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/02.png', class: 'position-absolute tl-tag-img', style: 'top: 50%; left: 50%; margin-left: -130px; margin-top: -88px;' %>
              <%= image_pack_tag 'media/images/advantages/innovation/tl/2.png', class: 'position-absolute tl-tag-img-active', style: 'top: 50%; left: 50%; margin-left: -130px; margin-top: -88px;' %>
            </div>
            <div class="w-100" style=""></div>

            <div class="tl-tag position-relative" data-id=3 style="width: 200px; height: 120px;">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/03.png', class: 'position-absolute tl-tag-img', style: 'top: 50%; left: 50%; margin-left: -130px; margin-top: -88px;' %>
              <%= image_pack_tag 'media/images/advantages/innovation/tl/3.png', class: 'position-absolute tl-tag-img-active', style: 'top: 50%; left: 50%; margin-left: -130px; margin-top: -88px;' %>
            </div>
            <div class="w-100" style=""></div>

            <div class="col-12 mt-5 text-center">
              <%= link_to( advantages_innovation_achievement_path, html_options = {}) do %>
                <%= image_pack_tag 'media/images/advantages/innovation/tl/result-nav.png' %>
              <% end %>
            </div>

          </div>

        </div>
        <!-- timeline -->
        <div class="" style="width:80%;">

          <div class="w-100" style="height: 220px;"></div>

          <div class="timeline-container row g-0 position-relative " style="width: 90%; height: 880px; overflow:scroll;">
            <div class="tl-data col-12">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/001.png', class: '', style: '' %>
            </div>

            <div class="tl-data col-12">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/002.png', class: '', style: '' %>
            </div>

            <div class="tl-data col-12">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/003.png', class: '', style: '' %>
            </div>

          </div>

        </div>


    </div>

  </div>


</div>
