<div class="innovation-tl-page window-holder position-relative" style="">

  <div class="row g-0 position-relative ">
    <!-- main left -->
    <%= render 'innovation_left' %>


    <!-- main right -->
    <div class=" position-relative" style="width: 70%; ">
      <div class="row g-0">
        <!-- timeline nav -->
        <div class="" style="width:20%; ">
          <div class="row g-0 justify-content-center" style=" margin-left: 50px;">
            <div class="w-100" style="height: 210px;"></div>

            <div class="text-center">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/title.png', class: '', style: '' %>
            </div>

            <div class="tl-tag active position-relative" data-id=1 style="width: 150px; height: 90px; margin-top: 90px;">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/01.png', class: 'position-absolute tl-tag-img', style: 'top: 50%; left: 50%; margin-left: -97.5px; margin-top: -66px;' %>
              <%= image_pack_tag 'media/images/advantages/innovation/tl/1.png', class: 'position-absolute tl-tag-img-active', style: 'top: 50%; left: 50%; margin-left: -97.5px; margin-top: -66px;' %>
            </div>
            <div class="w-100" style=""></div>

            <div class="tl-tag position-relative" data-id=2 style="width: 150px; height: 90px; ">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/02.png', class: 'position-absolute tl-tag-img', style: 'top: 50%; left: 50%; margin-left: -97.5px; margin-top: -66px;' %>
              <%= image_pack_tag 'media/images/advantages/innovation/tl/2.png', class: 'position-absolute tl-tag-img-active', style: 'top: 50%; left: 50%; margin-left: -97.5px; margin-top: -66px;' %>
            </div>
            <div class="w-100" style=""></div>

            <div class="tl-tag position-relative" data-id=3 style="width: 150px; height: 90px; ">
              <%= image_pack_tag 'media/images/advantages/innovation/tl/03.png', class: 'position-absolute tl-tag-img', style: 'top: 50%; left: 50%; margin-left: -97.5px; margin-top: -66px;' %>
              <%= image_pack_tag 'media/images/advantages/innovation/tl/3.png', class: 'position-absolute tl-tag-img-active', style: 'top: 50%; left: 50%; margin-left: -97.5px; margin-top: -66px;' %>
            </div>
            <div class="w-100" style=""></div>


          </div>

        </div>
        <!-- timeline -->
        <div class="" style="width:80%;">

          <div class="w-100" style="height: 165px;"></div>

          <div class="scroll-container position-relative">
            <div class="timeline-container row g-0 position-relative scroll-wrap v-scroll " style="width: 90%; height: 660px; overflow:scroll;">
              <div class="scroll-content">
                <div class="tl-data col-12">
                  <%= image_pack_tag 'media/images/advantages/innovation/tl/001.png', class: '', style: '' %>
                </div>

                <div class="tl-data col-12">
                  <%= image_pack_tag 'media/images/advantages/innovation/tl/002.png', class: '', style: '' %>
                </div>

                <div class="tl-data col-12">
                  <%= image_pack_tag 'media/images/advantages/innovation/tl/003.png', class: '', style: '' %>
                </div>
              </div>

            </div>

            <div class="scroll-up-dark-arrows scroll-start-half"></div>
            <div class="scroll-down-dark-arrows scroll-end-half"></div>

          </div>


        </div>
      </div>

      <%= render 'innovation_navs', extra_link: {} %>
    </div>

  </div>


</div>
