<div class="innovation-result-page window-holder position-relative" style="">

  <div class="row g-0 position-relative ">
    <!-- main left -->
    <%= render 'innovation_left' %>

    <!-- main right -->
    <div class="" style="width: 70%; ">

      <div class="row g-0" style='margin-top: 300px;'>
        <div class="col-12">
          <%= image_pack_tag 'media/images/advantages/innovation/result/1.png', class: 'w-100' %>
          <%= image_pack_tag 'media/images/advantages/innovation/result/2.png', class: 'w-100 mt-5' %>

        </div>
        <div class="col-auto mt-5 " style="margin-left: 90px;">
          <%= link_to( advantages_innovation_tl_path, html_options = {}) do %>
            <%= image_pack_tag 'media/images/advantages/innovation/result/tl-nav.png' %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>
