
<div class="window-holder position-relative" style="">
  <div class="row g-0 position-relative ">
    <!-- main left -->
    <div class=" px-5" style="width: 30%; z-index:2; ">
      <div class="w-100" style="height: 320px;"></div>
      <div class=" py-5 border-right border-end border-3 gt-border-primary" >
        <div class="row g-0 position-relative ">
          <div class="col position-relative text-center">
            <div class="position-absolute gt-text-secondary fw-bold" style="font-size: 4rem; top:115px; left: 110px;">
              973
            </div>
            <%= image_pack_tag 'media/images/advantages/team/1.png' %>
          </div>
          <div class="col position-relative text-center">
            <div class="position-absolute gt-text-secondary fw-bold" style="font-size: 4rem; top:115px; left: 110px;">
              13
            </div>
            <%= image_pack_tag 'media/images/advantages/team/2.png' %>
          </div>
        </div>

        <div class="row g-0 position-relative mt-5">
          <div class="col position-relative text-center">
            <div class="position-absolute gt-text-secondary fw-bold" style="font-size: 4rem; top:130px; left: 85px;">
              105
            </div>
            <%= image_pack_tag 'media/images/advantages/team/3.png' %>

          </div>
          <div class="col position-relative text-center">
            <div class="position-absolute gt-text-secondary fw-bold" style="font-size: 4rem; top:130px; left: 110px;">
              55
            </div>
            <%= image_pack_tag 'media/images/advantages/team/4.png' %>

          </div>
        </div>

      </div>


      <div class="w-100" style="height: 220px;"></div>

    </div>

    <!-- main right -->
    <div class="" style="width: 70%; ">

      <div class="row g-0" style='margin-top: 250px;'>
        <div class="col-12">
          <!-- Slider main container -->
          <div class="swiper-container talents-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides, talents with detail -->
              <% (1..4).each do |i| %>
                <div class="swiper-slide talent-slide talent-slide-with-detail text-center " style="">
                  <!-- .expanded -->
                  <!-- img: width: 515px; height: 559px; -->
                  <div class="row g-0 align-items-center h-100">
                    <div class="col ">
                      <%= image_pack_tag "media/images/advantages/team/talents/#{i}.png", class: "talent-img" %>
                    </div>
                    <div class="col">
                      <%= image_pack_tag "media/images/advantages/team/talents/0#{i}.png", class: 'talent-detail' %>
                    </div>
                  </div>

                </div>
              <% end %>

              <!-- Slides, talents  -->
              <% (5..13).each do |i| %>
                <div class="swiper-slide talent-slide text-center" style="">
                  <div class="row g-0 align-items-center h-100">
                    <div class="col ">
                      <%= image_pack_tag "media/images/advantages/team/talents/#{i}.png" %>
                    </div>
                  </div>
                </div>
              <% end %>


            </div>

            <!-- If we need navigation buttons -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
