
<div class="team-page window-holder position-relative" style="">
  <div class="row g-0 position-relative ">
    <!-- main left -->
    <div class=" px-5" style="width: 30%; z-index:2; ">
      <div class="w-100" style="height: 240px;"></div>
      <div class=" py-5 border-right border-end border-3 gt-border-primary" >
        <div class="row g-0 position-relative ">
          <div class="col position-relative text-center">
            <div class="position-absolute gt-text-secondary fw-bold" style="font-size: 3rem; top:86px; left: 82px;">
              973
            </div>
            <%= image_pack_tag 'media/images/advantages/team/1.png' %>
          </div>
          <div class="col position-relative text-center">
            <div class="mcount-up position-absolute gt-text-secondary fw-bold" style="font-size: 3rem; top:86px; left: 82px;">
              13
            </div>
            <%= image_pack_tag 'media/images/advantages/team/2.png' %>
          </div>
        </div>

        <div class="row g-0 position-relative mt-5">
          <div class="col position-relative text-center">
            <div class="mcount-up position-absolute gt-text-secondary fw-bold" style="font-size: 3rem; top:97px; left: 63px;">
              105
            </div>
            <%= image_pack_tag 'media/images/advantages/team/3.png' %>

          </div>
          <div class="col position-relative text-center">
            <div class="mcount-up position-absolute gt-text-secondary fw-bold" style="font-size: 3rem; top:97px; left: 63px;">
              55
            </div>
            <%= image_pack_tag 'media/images/advantages/team/4.png' %>

          </div>
        </div>

      </div>




    </div>

    <!-- main right -->
    <div class="" style="width: 70%; ">
      <div class="w-100" style="height: 190px;"></div>
      <div class="row g-0" style=''>
        <div class="col-12 position-relative">
          <!-- Slider main container -->
          <div class="swiper-container talents-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides, talents with detail -->
              <% (1..11).each do |i| %>
                <div class="swiper-slide talent-slide talent-slide-with-detail text-center " style="">
                  <!-- .expanded -->
                  <!-- img: width: 515px; height: 559px; -->
                  <div class="row g-0 align-items-center h-100">
                    <div class="col ">
                      <%= image_pack_tag "media/images/advantages/team/talents/#{i}.png", class: "talent-img" %>

                      <%= image_pack_tag "media/images/advantages/team/talents/0#{i}.png", class: 'talent-detail mx-auto mt-2' %>

                    </div>


                  </div>

                </div>
              <% end %>

            </div>

          </div>

          <div class="my-swiper-navigation-container">
            <div class="my-swiper-button-prev"></div>
            <div class="my-swiper-button-next"></div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
